@import url("https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i&subset=cyrillic");
/* line 18, ../scss/_var.scss */
.fadeBox { transition: 1s; height: 50%; }
/* line 22, ../scss/_var.scss */
.fadeBox.fade { opacity: 0; transform: scale(0.8); }

/* line 28, ../scss/_var.scss */
.h2 { font-size: 60px; font-weight: bold; line-height: 60px; text-transform: uppercase; margin: 0 0 20px; }

/* line 35, ../scss/_var.scss */
.h3 { font-size: 36px; text-transform: uppercase; font-weight: bold; }

/* line 40, ../scss/_var.scss */
.h4 { font-size: 24px; text-transform: uppercase; font-weight: bold; }

/* line 45, ../scss/_var.scss */
header nav a.active span { animation: navLine 1s ease-in-out; width: 60%; }

/* line 11, ../scss/_keyframes.scss */
.fadeBox { transition: 1s; height: 50%; }
/* line 15, ../scss/_keyframes.scss */
.fadeBox.fade { opacity: 0; transform: scale(0.8); }

/* line 21, ../scss/_keyframes.scss */
.h2 { font-size: 60px; font-weight: bold; line-height: 60px; text-transform: uppercase; margin: 0 0 20px; }

/* line 28, ../scss/_keyframes.scss */
.h3 { font-size: 36px; text-transform: uppercase; font-weight: bold; }

/* line 33, ../scss/_keyframes.scss */
.h4 { font-size: 24px; text-transform: uppercase; font-weight: bold; }

@keyframes arrow_down { 0% { opacity: 0; top: -3px; }
  20% { opacity: 1; }
  70% { opacity: 0; top: 3px; }
  100% { opacity: 0; } }
@keyframes box-arrow-1 { 0% { opacity: 0; display: inline; }
  100% { opacity: 1; } }
@keyframes box-arrow-2 { 0% { opacity: 1; }
  100% { opacity: 0; display: none; } }
@keyframes navdown { 0% { opacity: 0; top: -50px; }
  100% { opacity: 1; top: 0; } }
@keyframes opacity_revers { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes onload { 0% { stroke-dasharray: 1200; fill: rgba(255, 255, 255, 0); stroke: rgba(255, 255, 255, 0); }
  30% { stroke: #fff; }
  80% { stroke-dasharray: 2500; fill: rgba(255, 255, 255, 0); }
  100% { fill: #fff; } }
@keyframes navLine { 0% { width: 0%; }
  100% { width: 60%; } }
@keyframes form-modal { 0% { transform: scale(1) rotate(0); }
  89% { transform: scale(1) rotate(0); }
  90% { transform: scale(0.9) rotate(5deg); }
  95% { transform: scale(0.9) rotate(-5deg); }
  100% { transform: scale(1) rotate(0deg); } }
/* line 4, ../scss/_design-about.scss */
::-webkit-scrollbar { width: 8px; height: 8px; background: #d1d1d1; /* or add it to the track */ }

/* Add a thumb */
/* line 12, ../scss/_design-about.scss */
::-webkit-scrollbar-thumb { background: #050505; }
/* line 15, ../scss/_design-about.scss */
::-webkit-scrollbar-thumb:hover { background: #454544; }
/* line 19, ../scss/_design-about.scss */
::-webkit-scrollbar-thumb:active { background: #929190; }

/* line 24, ../scss/_design-about.scss */
body { margin: 0; padding: 0; overflow-x: hidden; }

/* line 30, ../scss/_design-about.scss */
a { display: inline-block; text-decoration: none; }

/* line 35, ../scss/_design-about.scss */
.logo { width: 15%; }
/* line 38, ../scss/_design-about.scss */
.logo img { width: 80%; margin-top: 2%; }

/* line 44, ../scss/_design-about.scss */
:active, :hover, :focus { outline: 0; outline-offset: 0; }

/* line 51, ../scss/_design-about.scss */
div, a, section, h1, h2, h3, h4 { position: relative; }

/* line 61, ../scss/_design-about.scss */
hr { border: none; border-bottom: 1px solid #B3B1B7; }

/* line 66, ../scss/_design-about.scss */
a.button, button { color: #fff; display: block; text-decoration: none; font-weight: 500; line-height: normal; font-size: 12px; letter-spacing: 0.05em; text-transform: uppercase; padding: 8px 14px; background: linear-gradient(90deg, #F39A4A 0%, #F69173 100%); box-shadow: 0px 0px 10px rgba(246, 145, 115, 0.8); transition: .6s ease-out; }
/* line 81, ../scss/_design-about.scss */
a.button:hover, button:hover { background: linear-gradient(90deg, #F69173 0%, #F39A4A 100%); box-shadow: 0px 0px 15px #ffab91; text-shadow: 0 0 15px #ffab91; }

/* line 88, ../scss/_design-about.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, i, b, a, small, span, strong { font-family: "Roboto", sans-serif; }

/* line 110, ../scss/_design-about.scss */
p { font-size: 16px; }

/* line 114, ../scss/_design-about.scss */
input, textarea { color: #ccc; }

/* line 121, ../scss/_design-about.scss */
.container .row { max-width: 1300px; margin: auto; padding: 0 40px; }
/* line 126, ../scss/_design-about.scss */
.container .row.flex { display: flex; justify-content: space-between; }
/* line 130, ../scss/_design-about.scss */
.container .row.flex.center { justify-content: center; }
/* line 134, ../scss/_design-about.scss */
.container .row.flex.left { justify-content: flex-start; }
/* line 138, ../scss/_design-about.scss */
.container .row.flex.wrap { flex-wrap: wrap; }
/* line 142, ../scss/_design-about.scss */
.container .row.flex.align-center { align-items: center; }

/* line 149, ../scss/_design-about.scss */
small { font-size: 11px; }

/* line 153, ../scss/_design-about.scss */
.onload { position: fixed; background: #6C6B6A; z-index: 9999999; top: 0; left: 0; right: 0; bottom: 0; }
/* line 162, ../scss/_design-about.scss */
.onload .onload_logo { margin: 0; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); }
/* line 170, ../scss/_design-about.scss */
.onload .onload_logo svg { width: 3vw; }
/* line 173, ../scss/_design-about.scss */
.onload .onload_logo svg path { stroke-dasharray: 2500; fill: #fff; animation: onload 2s ease-in-out; }

/* line 182, ../scss/_design-about.scss */
header { position: fixed; z-index: 999; right: 0; left: 0; top: 0; transition: 1s; animation: opacity_revers .8s ease-in-out; }
/* line 191, ../scss/_design-about.scss */
header.navFixed, header.navFixed2 { background: rgba(0, 0, 0, 0.5); }
/* line 198, ../scss/_design-about.scss */
header .communication .child { display: inline-block; margin-left: 25px; }
/* line 202, ../scss/_design-about.scss */
header .communication .child img { width: 13px; height: 13px; vertical-align: -1px; }
/* line 208, ../scss/_design-about.scss */
header .communication .child #language { font-style: normal; font-weight: bold; line-height: normal; font-size: 13px; text-transform: uppercase; color: #FFFFFF; }
/* line 220, ../scss/_design-about.scss */
header nav a { margin-right: 15px; color: #fff; text-decoration: none; font-size: 14px; position: relative; }
/* line 227, ../scss/_design-about.scss */
header nav a:hover span { width: 60%; }
/* line 231, ../scss/_design-about.scss */
header nav a:last-child { margin: 0; }
/* line 235, ../scss/_design-about.scss */
header nav a:nth-child(1) { animation: navdown .4s ease-in-out; }
/* line 239, ../scss/_design-about.scss */
header nav a:nth-child(2) { animation: navdown .5s ease-in-out; }
/* line 243, ../scss/_design-about.scss */
header nav a:nth-child(3) { animation: navdown .6s ease-in-out; }
/* line 247, ../scss/_design-about.scss */
header nav a:nth-child(4) { animation: navdown .7s ease-in-out; }
/* line 251, ../scss/_design-about.scss */
header nav a:nth-child(5) { animation: navdown .8s ease-in-out; }
/* line 258, ../scss/_design-about.scss */
header .wiggle { position: absolute; bottom: -7px; height: 4px; left: 22%; width: 0; overflow: hidden; transition: .6s ease-out; }
/* line 268, ../scss/_design-about.scss */
header .wiggle:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/icon/line.svg) repeat-x center center/7px 3px; }
/* line 279, ../scss/_design-about.scss */
header .container .row { display: flex; justify-content: space-between; align-items: center; height: 76px; }

/* line 288, ../scss/_design-about.scss */
.pagefirst { padding-top: 70px; background: #6C6B6A; height: 100vh; width: 100%; }

/* line 295, ../scss/_design-about.scss */
.page_bg { background: #6C6B6A; overflow: hidden; margin-top: -1px; width: 100%; }

/* line 302, ../scss/_design-about.scss */
.page_bg_2 { background: #EEE; overflow: hidden; width: 100%; }
/* line 307, ../scss/_design-about.scss */
.page_bg_2 .content { margin: 15vh auto 0; }

/* line 312, ../scss/_design-about.scss */
div.h1 { position: absolute; margin-left: calc(0vw - 7vw); margin-top: -5%; }

/* line 318, ../scss/_design-about.scss */
span.h1 { font-family: "Pattaya", sans-serif; font-size: 7vw; transform: rotate(-15deg); position: absolute; z-index: 3; color: white; width: 17vw; margin-top: 20px; }

/* line 329, ../scss/_design-about.scss */
span.h1.shadow { color: #000; position: absolute; margin: 15px 7px; z-index: 3; }

/* line 336, ../scss/_design-about.scss */
.homeimg { position: absolute; display: flex; justify-content: center; align-items: center; height: 85vh; z-index: 5; width: calc(100% - 80px); max-width: 1300px; }
/* line 346, ../scss/_design-about.scss */
.homeimg img { max-width: 50%; margin-top: 0; transform-style: preserve-3d; transform: translateZ(20px); z-index: 1; }
/* line 354, ../scss/_design-about.scss */
.homeimg img.shadow { margin: 0 25px; }

/* line 359, ../scss/_design-about.scss */
.left-p, .right-p { display: flex; align-items: center; margin-top: 100px; transition: 1s; padding-left: 10px; }
/* line 367, ../scss/_design-about.scss */
.left-p p, .right-p p { margin: 0; font-style: italic; font-weight: bold; letter-spacing: 0.05em; color: #FFFFFF; transform: rotate(-15deg); font-size: 13px; }
/* line 377, ../scss/_design-about.scss */
.left-p .h3, .right-p .h3 { font-size: 36px; }

/* line 383, ../scss/_design-about.scss */
.left-p .shadow { position: absolute; margin: -4px -4px 0; }
/* line 387, ../scss/_design-about.scss */
.left-p .shadow p { color: #000; }

/* line 393, ../scss/_design-about.scss */
.right-p { margin-right: 50px; transform: rotate(-4deg); }
/* line 397, ../scss/_design-about.scss */
.right-p .shadow { position: absolute; margin: -4px 4px 0; }
/* line 401, ../scss/_design-about.scss */
.right-p .shadow p { color: #000; }

/* line 407, ../scss/_design-about.scss */
.about { padding-top: 150px; padding-bottom: 150px; background: #EEEEEE; }

/* line 413, ../scss/_design-about.scss */
.about-no-bg { padding-top: 150px; padding-bottom: 150px; }

/* line 418, ../scss/_design-about.scss */
.about-design { width: 50%; margin: auto 0; }

/* line 423, ../scss/_design-about.scss */
.design { display: flex; align-items: center; width: 40%; }
/* line 428, ../scss/_design-about.scss */
.design img { width: 100%; }

/* line 433, ../scss/_design-about.scss */
.arrow_down { position: absolute; left: 50%; z-index: 10; top: calc(100vh - 130px); }
/* line 439, ../scss/_design-about.scss */
.arrow_down a { animation: arrow_down 1.3s infinite ease-in-out; }

/* line 444, ../scss/_design-about.scss */
svg.arrow_down_top { position: absolute; }

/* line 448, ../scss/_design-about.scss */
.description { text-transform: uppercase; color: #fff; transition: 1s; }
/* line 453, ../scss/_design-about.scss */
.description.fade { opacity: 0; }
/* line 457, ../scss/_design-about.scss */
.description .description-title { display: flex; align-items: center; margin-bottom: 15px; }
/* line 462, ../scss/_design-about.scss */
.description .description-title h1 { font-size: 24px; margin: 0; }
/* line 467, ../scss/_design-about.scss */
.description .description-title img { margin-right: 17px; }
/* line 472, ../scss/_design-about.scss */
.description .description-body { width: 70%; margin-bottom: 160px; }
/* line 476, ../scss/_design-about.scss */
.description .description-body h2 { font-size: 36px; margin: 0; }

/* line 483, ../scss/_design-about.scss */
.ledge { position: absolute; top: 50%; left: 50%; pointer-events: none; width: 0; height: 0; -webkit-transition: 0.55s cubic-bezier(0.62, 0.02, 0.34, 1); -moz-transition: 0.55s cubic-bezier(0.62, 0.02, 0.34, 1); transition: 0.55s cubic-bezier(0.62, 0.02, 0.34, 1); }

/* line 495, ../scss/_design-about.scss */
.ledge-deg::before { -webkit-transform: rotate(21deg); -moz-transform: rotate(21deg); -ms-transform: rotate(21deg); -o-transform: rotate(21deg); transform: rotate(21deg); }

/* line 503, ../scss/_design-about.scss */
.ledge > div, .ledge::before { background: #EEE; content: ''; position: absolute; top: 0; left: 0; -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; -ms-transform-origin: 50% 0; -o-transform-origin: 50% 0; transform-origin: 50% 0; -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear; -moz-transition: -moz-transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear; transition: transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear; width: 300vw; height: 300vh; margin-left: -153vw; }

/* line 523, ../scss/_design-about.scss */
.height-100 { height: 100vh; }

/* line 527, ../scss/_design-about.scss */
section .content { margin: 40vh auto 0; width: 60.5%; text-align: center; }
/* line 532, ../scss/_design-about.scss */
section .content .shadow { position: absolute; margin: .4vw 0 0; }
/* line 536, ../scss/_design-about.scss */
section .content .shadow p { color: #000; }
/* line 541, ../scss/_design-about.scss */
section .content p { color: #000; }

/* line 546, ../scss/_design-about.scss */
.box-arrow-link { display: inline; z-index: 2; }
/* line 550, ../scss/_design-about.scss */
.box-arrow-link .box-arrow-1 { transition: .5s; opacity: 0; padding: 10px 0; }
/* line 555, ../scss/_design-about.scss */
.box-arrow-link .box-arrow-1 img { transition: 1s; width: 0; }
/* line 561, ../scss/_design-about.scss */
.box-arrow-link:hover .box-arrow-1 { opacity: 1; padding: 10px; }
/* line 566, ../scss/_design-about.scss */
.box-arrow-link:hover .box-arrow-1 img { width: 30px; }
/* line 571, ../scss/_design-about.scss */
.box-arrow-link .box-arrow-2 { opacity: 1; transition: .5s; }
/* line 575, ../scss/_design-about.scss */
.box-arrow-link .box-arrow-2 img { transition: 1s; width: 30px; }
/* line 581, ../scss/_design-about.scss */
.box-arrow-link:hover .box-arrow-2 { opacity: 0; padding: 10px 0; }
/* line 586, ../scss/_design-about.scss */
.box-arrow-link:hover .box-arrow-2 img { width: 0; }

/* line 592, ../scss/_design-about.scss */
.box-arrow-link span { padding: 10px; text-transform: uppercase; color: #000; border: 2px solid; margin: -3px; }

/* line 600, ../scss/_design-about.scss */
.box-arrow-link span img { width: 30px; height: 8px; vertical-align: 2px; transition: 1s; }

/* line 607, ../scss/_design-about.scss */
.box-arrow-1 { width: 0px; }

/* line 611, ../scss/_design-about.scss */
.recent_work { width: 242px; height: 242px; position: absolute; border-radius: 100%; overflow: hidden; border: 1px solid #000000; box-sizing: border-box; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); opacity: 0; transition: .3s; }
/* line 623, ../scss/_design-about.scss */
.recent_work:hover .recent_info { opacity: 1; }
/* line 627, ../scss/_design-about.scss */
.recent_work.fade { opacity: 1; transition: .3s .5s; }
/* line 632, ../scss/_design-about.scss */
.recent_work:hover .bg-black { opacity: 1; height: 100%; top: 0; }
/* line 638, ../scss/_design-about.scss */
.recent_work img { transform: scale(1.4); height: 100%; }
/* line 643, ../scss/_design-about.scss */
.recent_work.one { bottom: 110px; }
/* line 647, ../scss/_design-about.scss */
.recent_work.two { top: 0; right: 40px; }
/* line 652, ../scss/_design-about.scss */
.recent_work .recent_info { opacity: 0; transition: 1s; }
/* line 657, ../scss/_design-about.scss */
.recent_work .bg-black { top: 50%; opacity: 0; height: 0; transition: 1s; }

/* line 665, ../scss/_design-about.scss */
.recent_info { position: absolute; width: 170px; z-index: 3; top: 33%; left: 20%; padding: 0%; text-transform: uppercase; color: #fff; }
/* line 675, ../scss/_design-about.scss */
.recent_info p { margin-top: 5px; margin-bottom: 10px; }
/* line 680, ../scss/_design-about.scss */
.recent_info .recent_next { font-size: 13px; }
/* line 683, ../scss/_design-about.scss */
.recent_info .recent_next img { width: 10px; margin-left: 5px; vertical-align: 2px; }

/* line 691, ../scss/_design-about.scss */
.bg-black { background: rgba(0, 0, 0, 0.6); position: absolute; z-index: 2; width: 100%; height: 100%; }

/* line 699, ../scss/_design-about.scss */
.ledge-title { margin-bottom: 40px; text-transform: uppercase; z-index: 2; }

/* line 705, ../scss/_design-about.scss */
.price { color: #6C6B6A !important; position: absolute; top: calc(-46vw + 20vw); font-size: 20vw; left: calc(32vw - 20vw); font-weight: bold; transition: transform .1s linear; }

/* line 715, ../scss/_design-about.scss */
.manprice { margin-bottom: 100px; width: 28vw; position: relative; z-index: 1; }

/* line 722, ../scss/_design-about.scss */
button { display: block; padding: 12px 57px; border: none; margin: 0 auto; cursor: pointer; font-weight: bold; }

/* line 731, ../scss/_design-about.scss */
.line.white { border-bottom: 3px solid #fff; width: 100px; margin-right: 20px; }

/* line 737, ../scss/_design-about.scss */
.line.black { border-bottom: 3px solid #000; width: 170px; margin-bottom: 114px; }

/* line 744, ../scss/_design-about.scss */
.forma form { text-align: center; }
/* line 747, ../scss/_design-about.scss */
.forma form input { display: block; padding: 11px 6px; width: 97%; border: 1px solid #C4C4C4; color: #000000; margin-bottom: 10px; }
/* line 756, ../scss/_design-about.scss */
.forma form button { margin-top: 28px; }

/* line 763, ../scss/_design-about.scss */
.footer-text .text { max-width: 550px; }

/* line 768, ../scss/_design-about.scss */
.top-footer { background: #EEEEEE; padding-top: 50px; }

/* line 773, ../scss/_design-about.scss */
.modal { max-width: 1300px; z-index: 999999; }
/* line 777, ../scss/_design-about.scss */
.modal .top-footer { background: white; }
/* line 781, ../scss/_design-about.scss */
.modal .container .row { padding: 0; }
/* line 785, ../scss/_design-about.scss */
.modal .imag.contact { bottom: 0; left: -15px; }
/* line 790, ../scss/_design-about.scss */
.modal .line.black { margin-bottom: 60px; }
/* line 794, ../scss/_design-about.scss */
.modal .contact a { color: black; margin-right: 25px; font-weight: bold; }

/* line 801, ../scss/_design-about.scss */
.imag.contact { position: relative; bottom: -90px; z-index: 1; }

/* line 807, ../scss/_design-about.scss */
footer { overflow: hidden; }
/* line 810, ../scss/_design-about.scss */
footer a { color: #000; }
/* line 815, ../scss/_design-about.scss */
footer .contact a { margin-left: 34px; display: inline-block; font-weight: bold; }
/* line 820, ../scss/_design-about.scss */
footer .contact a:first-child { margin-left: 0; }

/* line 827, ../scss/_design-about.scss */
.links a { margin-right: 30px; }

/* line 831, ../scss/_design-about.scss */
.revers { display: none; }

/* line 835, ../scss/_design-about.scss */
.blur, header.navFixed, header, header.navFixed2 { transition: 1s; }
/* line 841, ../scss/_design-about.scss */
.blur.active, header.navFixed.active, header.active, header.navFixed2.active { filter: blur(3px); transform: scale(1.006); }

/* line 848, ../scss/_design-about.scss */
.phone img { width: 14px; margin-right: 5px; }

/* line 854, ../scss/_design-about.scss */
.blocker { background: none; z-index: 99999; }

/* line 858, ../scss/_design-about.scss */
.form-modal-phone { display: none; }

@media (max-width: 1400px) { /* line 862, ../scss/_design-about.scss */
  .homeimg img { max-width: 40%; } }
@media (max-width: 1200px) { /* line 868, ../scss/_design-about.scss */
  .right-p { display: none; }
  /* line 872, ../scss/_design-about.scss */
  .left-p, .right-p { margin-top: 17vh; }
  /* line 877, ../scss/_design-about.scss */
  div.h1 { margin-left: calc(0vw - 11vw); }
  /* line 881, ../scss/_design-about.scss */
  span.h1 { font-size: 11vw; width: 30vw; }
  /* line 886, ../scss/_design-about.scss */
  .homeimg img { max-width: 55%; } }
@media (max-width: 1000px) { /* line 892, ../scss/_design-about.scss */
  .h2 { font-size: 36px; line-height: 39px; }
  /* line 897, ../scss/_design-about.scss */
  .description .description-title h1 { font-size: 10px; line-height: 14px; }
  /* line 902, ../scss/_design-about.scss */
  .description .description-body h2 { font-size: 18px; line-height: 25px; }
  /* line 907, ../scss/_design-about.scss */
  .description .description-title h1 { font-size: 10px; line-height: 14px; }
  /* line 912, ../scss/_design-about.scss */
  .description .description-body h2 { font-size: 18px; line-height: 25px; }
  /* line 917, ../scss/_design-about.scss */
  .price-title { font-size: 11px; }
  /* line 921, ../scss/_design-about.scss */
  footer .h4 { font-size: 18px; line-height: 21px; }
  /* line 926, ../scss/_design-about.scss */
  .footer-text, .imag.contact, .recent_work { display: none; }
  /* line 932, ../scss/_design-about.scss */
  .forma { margin: auto; margin-bottom: 50px; }
  /* line 936, ../scss/_design-about.scss */
  .imag.contact img { width: 80%; } }
@media (max-width: 795px) { /* line 944, ../scss/_design-about.scss */
  header .wiggle { display: none; }
  /* line 947, ../scss/_design-about.scss */
  .onload .onload_logo svg { width: 13vw; }
  /* line 950, ../scss/_design-about.scss */
  .imag.contact { display: none; }
  /* line 953, ../scss/_design-about.scss */
  .form-modal-phone { display: block; text-align: right; position: absolute; width: calc(100% - 80px); top: calc(100vh - 235px); padding: 0 40px; }
  /* line 962, ../scss/_design-about.scss */
  a.button.link-modal.form-modal { display: inline-block; }
  /* line 966, ../scss/_design-about.scss */
  a.phone.mobile { padding: 15px 0; font-size: 18px; }
  /* line 971, ../scss/_design-about.scss */
  .description .description-body { width: 100%; }
  /* line 975, ../scss/_design-about.scss */
  .arrow_down { top: calc(100vh - 160px); left: calc(50% - 11px); }
  /* line 981, ../scss/_design-about.scss */
  header .container .row { height: 90px; }
  /* line 985, ../scss/_design-about.scss */
  header .communication { bottom: -12px; }
  /* line 988, ../scss/_design-about.scss */
  header .communication .child { display: none; }
  /* line 991, ../scss/_design-about.scss */
  header .communication .child:nth-child(3n) { display: block; margin-left: 0; margin-top: 6px; text-align: center; }
  /* line 1000, ../scss/_design-about.scss */
  .form-modal-phone { text-align: right; position: absolute; width: calc(100% - 80px); top: calc(100vh - 270px); padding: 0 40px; }
  /* line 1008, ../scss/_design-about.scss */
  a.button.link-modal.form-modal { display: inline-block; }
  /* line 1012, ../scss/_design-about.scss */
  a.phone.mobile { padding: 15px 0; font-size: 18px; }
  /* line 1017, ../scss/_design-about.scss */
  header nav { position: fixed; top: 90px; left: 0; right: 0; bottom: 0; overflow: hidden; padding-top: 0px; height: 0px; transition: 1s; }
  /* line 1028, ../scss/_design-about.scss */
  header nav.active { background: rgba(0, 0, 0, 0.5); padding-top: 30px; height: calc(100vh - 112px); z-index: 99999; }
  /* line 1035, ../scss/_design-about.scss */
  header nav a { display: block; font-size: 24px; text-align: right; padding: 10px 40px; margin-right: 0; }
  /* line 1044, ../scss/_design-about.scss */
  .nav_mob { width: 22px; height: 18px; }
  /* line 1049, ../scss/_design-about.scss */
  .nav_mob span { height: 2px; width: 100%; display: block; background: white; border-radius: 3px; transition: 1s; }
  /* line 1057, ../scss/_design-about.scss */
  .nav_mob span.n2 { margin: 6px 0; }
  /* line 1063, ../scss/_design-about.scss */
  .navFixed2 .n1 { transform: rotate(-45deg); position: relative; top: 8px; }
  /* line 1069, ../scss/_design-about.scss */
  .navFixed2 .nav_mob span.n2 { margin: 0; opacity: 0; }
  /* line 1074, ../scss/_design-about.scss */
  .navFixed2 .n3 { transform: rotate(45deg); position: relative; top: 4px; }
  /* line 1081, ../scss/_design-about.scss */
  header .container .row { flex-wrap: wrap; }
  /* line 1085, ../scss/_design-about.scss */
  .logo { width: 180px; }
  /* line 1089, ../scss/_design-about.scss */
  section .content { margin: 20vh auto 0; }
  /* line 1093, ../scss/_design-about.scss */
  div.h1 { margin-top: -10%; margin-left: calc(-4vw - 16vw); }
  /* line 1098, ../scss/_design-about.scss */
  span.h1 { font-size: 16vw; width: 50vw; }
  /* line 1103, ../scss/_design-about.scss */
  .homeimg img { max-width: 86%; }
  /* line 1107, ../scss/_design-about.scss */
  .left-p .h3 { font-size: 5.5vw; }
  /* line 1111, ../scss/_design-about.scss */
  .description { width: auto; }
  /* line 1115, ../scss/_design-about.scss */
  .container .row.flex.center { justify-content: flex-start; }
  /* line 1119, ../scss/_design-about.scss */
  .description .description-body, .description .description-title { text-align: left; }
  /* line 1124, ../scss/_design-about.scss */
  .manprice { width: 50vw; margin-bottom: 50px; margin-top: 20px; }
  /* line 1130, ../scss/_design-about.scss */
  .box-arrow-link span { padding: 10px 6px; font-size: 12px; }
  /* line 1135, ../scss/_design-about.scss */
  .box-arrow-link .box-arrow-1 img, .box-arrow-link .box-arrow-2 img { vertical-align: middle; }
  /* line 1140, ../scss/_design-about.scss */
  .box-arrow-link:hover .box-arrow-1 { opacity: 1; padding: 10px 6px; }
  /* line 1146, ../scss/_design-about.scss */
  .description { width: auto; }
  /* line 1150, ../scss/_design-about.scss */
  .container .row.flex.center { justify-content: flex-start; }
  /* line 1154, ../scss/_design-about.scss */
  .description .description-body, .description .description-title { text-align: left; }
  /* line 1159, ../scss/_design-about.scss */
  .about { height: auto; }
  /* line 1164, ../scss/_design-about.scss */
  .about-no-bg .container .row.flex { display: table; }
  /* line 1167, ../scss/_design-about.scss */
  .about-no-bg .container .row.flex .about-design { display: table-header-group; }
  /* line 1171, ../scss/_design-about.scss */
  .about-no-bg .container .row.flex .design { display: table-footer-group; }
  /* line 1177, ../scss/_design-about.scss */
  .about-design { width: 100%; margin: 40px 0; }
  /* line 1181, ../scss/_design-about.scss */
  .about-design .h3 { font-size: 18px; }
  /* line 1185, ../scss/_design-about.scss */
  .about-design p { font-size: 12px; }
  /* line 1192, ../scss/_design-about.scss */
  .design { width: 100%; }
  /* line 1196, ../scss/_design-about.scss */
  .price, .line.white { display: none; }
  /* line 1201, ../scss/_design-about.scss */
  p.links { display: flex; flex-wrap: wrap; }
  /* line 1206, ../scss/_design-about.scss */
  p.links a { margin-right: 15px; }
  /* line 1210, ../scss/_design-about.scss */
  .row.flex.footer { flex-wrap: wrap; }
  /* line 1214, ../scss/_design-about.scss */
  .h2 { font-size: 9vw; line-height: 1; }
  /* line 1218, ../scss/_design-about.scss */
  .h3, .h4 { font-size: 6vw; }
  /* line 1221, ../scss/_design-about.scss */
  .left-p { display: none; } }
@media (max-width: 480px) { /* line 1227, ../scss/_design-about.scss */
  .left-p { display: flex; } }
@media (max-height: 450px) { /* line 1233, ../scss/_design-about.scss */
  .revers { display: flex; justify-content: center; align-items: center; position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: 9999; background: black; color: white; }
  /* line 1246, ../scss/_design-about.scss */
  .revers p { margin-right: 15px; } }
