@import url("https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i&subset=cyrillic");
/* line 16, ../scss/_var.scss */
.fadeBox { opacity: var(--o); }

@keyframes arrow_down { 0% { opacity: 0; top: -5px; }
  20% { opacity: 1; }
  100% { opacity: 0; top: 5px; } }
/* line 1, ../scss/_design.scss */
body { margin: 0; padding: 0; }

/* line 6, ../scss/_design.scss */
a { display: inline-block; }

/* line 10, ../scss/_design.scss */
.logo { width: 15%; }
/* line 13, ../scss/_design.scss */
.logo img { width: 80%; margin-top: 2%; }

/* line 19, ../scss/_design.scss */
a.botton { color: #fff; display: block; text-decoration: none; font-weight: 500; line-height: normal; font-size: 12px; letter-spacing: 0.05em; text-transform: uppercase; padding: 8px 14px; background: linear-gradient(90deg, #F39A4A 0%, #F69173 100%); box-shadow: 0px 0px 10px rgba(246, 145, 115, 0.8); transition: .6s ease-out; }
/* line 33, ../scss/_design.scss */
a.botton:hover { background: linear-gradient(90deg, #F69173 0%, #F39A4A 100%); box-shadow: 0px 0px 15px #ffab91; text-shadow: 0 0 15px #ffab91; }

/* line 40, ../scss/_design.scss */
h1, h2, h3, h4, h5, h6, p, i, b, a, span, strong { font-family: "Roboto", sans-serif; }

/* line 55, ../scss/_design.scss */
p { font-size: 16px; }

/* line 59, ../scss/_design.scss */
input, textarea { color: #ccc; }

/* line 66, ../scss/_design.scss */
.conteiner .row { max-width: 1300px; margin: auto; padding: 0 40px; }
/* line 71, ../scss/_design.scss */
.conteiner .row.flex { display: flex; justify-content: space-between; }
/* line 74, ../scss/_design.scss */
.conteiner .row.flex.center { justify-content: center; }
/* line 77, ../scss/_design.scss */
.conteiner .row.flex.left { justify-content: flex-start; }
/* line 80, ../scss/_design.scss */
.conteiner .row.flex.wrap { flex-wrap: wrap; }

/* line 89, ../scss/_design.scss */
header .communication .child { display: inline-block; margin-left: 40px; }
/* line 93, ../scss/_design.scss */
header .communication .child img { width: 13px; height: 13px; vertical-align: -1px; }
/* line 99, ../scss/_design.scss */
header .communication .child #language { font-style: normal; font-weight: bold; line-height: normal; font-size: 13px; text-transform: uppercase; color: #FFFFFF; }
/* line 111, ../scss/_design.scss */
header nav a { position: relative; margin-right: 15px; color: #fff; text-decoration: none; font-size: 14px; }
/* line 118, ../scss/_design.scss */
header nav a:hover span { width: 60%; }
/* line 122, ../scss/_design.scss */
header nav a:last-child { margin: 0; }
/* line 128, ../scss/_design.scss */
header .wiggle { position: absolute; bottom: -7px; height: 4px; left: 22%; width: 0; overflow: hidden; transition: .6s ease-out; }
/* line 138, ../scss/_design.scss */
header .wiggle:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/icon/line.svg) repeat-x center center/7px 3px; }
/* line 149, ../scss/_design.scss */
header .conteiner .row { display: flex; justify-content: space-between; align-items: center; height: 76px; }

/* line 158, ../scss/_design.scss */
.pagefirst { background: #504D55; height: 100vh; }

/* line 163, ../scss/_design.scss */
.page_bg { background: #504D55; }

/* line 167, ../scss/_design.scss */
div.h1 { position: absolute; margin-left: -25%; margin-top: -5%; }

/* line 173, ../scss/_design.scss */
span.h1 { font-family: "Pattaya", sans-serif; font-size: 8em; transform: rotate(-15deg); position: absolute; z-index: 3; color: white; margin-top: 20px; }

/* line 183, ../scss/_design.scss */
span.h1.shadow { color: #000; position: absolute; margin: 15px 7px; z-index: 3; }

/* line 190, ../scss/_design.scss */
.homeimg { position: absolute; top: 10vh; display: flex; justify-content: center; align-items: center; height: 100%; max-height: 85vh; z-index: 5; width: 95%; overflow: hidden; max-width: 1300px; }
/* line 203, ../scss/_design.scss */
.homeimg img { max-width: 50%; margin-top: 0; transform-style: preserve-3d; transform: translateZ(20px); }
/* line 210, ../scss/_design.scss */
.homeimg img.shadow { margin: 0 25px; }

/* line 215, ../scss/_design.scss */
.left-p, .right-p { display: flex; align-items: center; margin-top: 100px; }
/* line 221, ../scss/_design.scss */
.left-p p, .right-p p { margin: 0; font-style: italic; font-weight: bold; letter-spacing: 0.05em; color: #FFFFFF; transform: rotate(-15deg); font-size: 13px; }
/* line 231, ../scss/_design.scss */
.left-p .h3, .right-p .h3 { font-size: 36px; }

/* line 237, ../scss/_design.scss */
.left-p .shadow { position: absolute; margin: -4px -4px 0; }
/* line 241, ../scss/_design.scss */
.left-p .shadow p { color: #000; }

/* line 247, ../scss/_design.scss */
.right-p { margin-right: 50px; transform: rotate(-4deg); }
/* line 251, ../scss/_design.scss */
.right-p .shadow { position: absolute; margin: -4px 4px 0; }
/* line 255, ../scss/_design.scss */
.right-p .shadow p { color: #000; }

/* line 261, ../scss/_design.scss */
.arrow_down { position: absolute; left: 50%; z-index: 10; bottom: 10px; }
/* line 267, ../scss/_design.scss */
.arrow_down a { position: relative; animation: arrow_down 1.3s infinite ease-in-out; }

/* line 273, ../scss/_design.scss */
svg.arrow_down_top { position: absolute; }

/* line 276, ../scss/_design.scss */
.description { width: 50%; text-transform: uppercase; color: #fff; padding: 180px 0 !important; }
/* line 281, ../scss/_design.scss */
.description .description-title { display: flex; justify-content: flex-end; align-items: center; margin-bottom: 15px; }
/* line 286, ../scss/_design.scss */
.description .description-title h1 { font-size: 24px; margin: 0; }
/* line 287, ../scss/_design.scss */
.description .description-title img { margin-right: 17px; }
/* line 291, ../scss/_design.scss */
.description .description-body { width: 100%; text-align: center; }
/* line 294, ../scss/_design.scss */
.description .description-body h2 { font-size: 36px; margin: 0; }
