@import url("https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i&subset=cyrillic");
/* line 18, ../scss/_var.scss */
.fadeBox { transition: 1s; height: 50%; }
/* line 22, ../scss/_var.scss */
.fadeBox.fade { opacity: 0; transform: scale(0.8); }

/* line 28, ../scss/_var.scss */
.h2 { font-size: 60px; font-weight: bold; line-height: 60px; text-transform: uppercase; margin: 0 0 20px; }

/* line 35, ../scss/_var.scss */
.h3 { font-size: 36px; text-transform: uppercase; font-weight: bold; }

/* line 40, ../scss/_var.scss */
.h4 { font-size: 24px; text-transform: uppercase; font-weight: bold; }

/* line 1, ../scss/_mobile.scss */
div.h1 { margin-top: -5%; margin-left: calc(-21vw - 16vw); }

/* line 6, ../scss/_mobile.scss */
span.h1 { font-size: 16vw; }

/* line 10, ../scss/_mobile.scss */
.homeimg img { max-width: 86%; }

/* line 14, ../scss/_mobile.scss */
.left-p .h3 { font-size: 60px; }

/* line 17, ../scss/_mobile.scss */
.left-p p { margin-top: -76px; }
