@import url("https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i&subset=cyrillic");
/* line 18, ../scss/_var.scss */
.fadeBox {
  transition: 1s;
  height: 50%;
}
/* line 22, ../scss/_var.scss */
.fadeBox.fade {
  opacity: 0;
  transform: scale(0.8);
}

/* line 28, ../scss/_var.scss */
.h2 {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

/* line 35, ../scss/_var.scss */
.h3 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 40, ../scss/_var.scss */
.h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 11, ../scss/_keyframes.scss */
.fadeBox {
  transition: 1s;
  height: 50%;
}
/* line 15, ../scss/_keyframes.scss */
.fadeBox.fade {
  opacity: 0;
  transform: scale(0.8);
}

/* line 21, ../scss/_keyframes.scss */
.h2 {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

/* line 28, ../scss/_keyframes.scss */
.h3 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 33, ../scss/_keyframes.scss */
.h4 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes arrow_down {
  0% {
    opacity: 0;
    top: -3px;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 0;
    top: 3px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes box-arrow-1 {
  0% {
    opacity: 0;
    display: inline;
  }
  100% {
    opacity: 1;
  }
}
@keyframes box-arrow-2 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes navdown {
  0% {
    opacity: 0;
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes opacity_revers {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes onload {
  0% {
    stroke-dasharray: 1200;
    fill: rgba(255, 255, 255, 0);
    stroke: rgba(255, 255, 255, 0);
  }
  30% {
    stroke: #fff;
  }
  80% {
    stroke-dasharray: 2500;
    fill: rgba(255, 255, 255, 0);
  }
  100% {
    fill: #fff;
  }
}
/* line 4, ../scss/_design-price.scss */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 10, ../scss/_design-price.scss */
a {
  display: inline-block;
  text-decoration: none;
}

/* line 15, ../scss/_design-price.scss */
.logo {
  width: 15%;
}
/* line 18, ../scss/_design-price.scss */
.logo img {
  width: 90%;
  margin-top: 2%;
}

/* line 24, ../scss/_design-price.scss */
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

/* line 31, ../scss/_design-price.scss */
div,
a,
section,
h1,
h2,
h3,
h4 {
  position: relative;
}

/* line 41, ../scss/_design-price.scss */
section {
  margin: -1px;
}

/* line 45, ../scss/_design-price.scss */
hr {
  border: none;
  border-bottom: 1px solid #B3B1B7;
}

/* line 50, ../scss/_design-price.scss */
.flex {
  display: flex;
}

/* line 54, ../scss/_design-price.scss */
.wrap {
  flex-wrap: wrap;
}

/* line 58, ../scss/_design-price.scss */
a.button,
button {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 8px 14px;
  background: linear-gradient(90deg, #F39A4A 0%, #F69173 100%);
  box-shadow: 0px 0px 10px rgba(246, 145, 115, 0.8);
  transition: .6s ease-out;
}
/* line 73, ../scss/_design-price.scss */
a.button:hover,
button:hover {
  background: linear-gradient(90deg, #F69173 0%, #F39A4A 100%);
  box-shadow: 0px 0px 15px #ffab91;
  text-shadow: 0 0 15px #ffab91;
}

/* line 80, ../scss/_design-price.scss */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
i,
b,
a,
small,
span,
strong,
div {
  font-family: "Roboto", sans-serif;
}

/* line 103, ../scss/_design-price.scss */
p {
  font-size: 16px;
}

/* line 107, ../scss/_design-price.scss */
input,
textarea {
  color: #ccc;
}

/* line 114, ../scss/_design-price.scss */
.conteiner .row {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}
/* line 119, ../scss/_design-price.scss */
.conteiner .row.flex {
  display: flex;
  justify-content: space-between;
}
/* line 123, ../scss/_design-price.scss */
.conteiner .row.flex.center {
  justify-content: center;
}
/* line 127, ../scss/_design-price.scss */
.conteiner .row.flex.left {
  justify-content: flex-start;
}
/* line 131, ../scss/_design-price.scss */
.conteiner .row.flex.wrap {
  flex-wrap: wrap;
}
/* line 135, ../scss/_design-price.scss */
.conteiner .row.flex.align-center {
  align-items: center;
}

/* line 142, ../scss/_design-price.scss */
small {
  font-size: 11px;
}

/* line 146, ../scss/_design-price.scss */
.onload {
  position: fixed;
  background: #3B5B51;
  z-index: 9999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 155, ../scss/_design-price.scss */
.onload .onload_logo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* line 163, ../scss/_design-price.scss */
.onload .onload_logo svg {
  width: 3vw;
}
/* line 166, ../scss/_design-price.scss */
.onload .onload_logo svg path {
  stroke-dasharray: 2500;
  fill: #fff;
  animation: onload 2s ease-in-out;
}

/* line 175, ../scss/_design-price.scss */
header {
  position: fixed;
  z-index: 999;
  right: 0;
  left: 0;
  top: 0;
  transition: 1s;
  animation: opacity_revers .8s ease-in-out;
}
/* line 184, ../scss/_design-price.scss */
header.navFixed, header.navFixed2 {
  background: rgba(0, 0, 0, 0.5);
}
/* line 191, ../scss/_design-price.scss */
header .communication .child {
  display: inline-block;
  margin-left: 25px;
}
/* line 195, ../scss/_design-price.scss */
header .communication .child img {
  width: 13px;
  height: 13px;
  vertical-align: -1px;
}
/* line 201, ../scss/_design-price.scss */
header .communication .child #language {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
}
/* line 213, ../scss/_design-price.scss */
header nav a {
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}
/* line 220, ../scss/_design-price.scss */
header nav a:hover span {
  width: 60%;
}
/* line 224, ../scss/_design-price.scss */
header nav a:last-child {
  margin: 0;
}
/* line 228, ../scss/_design-price.scss */
header nav a:nth-child(1) {
  animation: navdown .4s ease-in-out;
}
/* line 232, ../scss/_design-price.scss */
header nav a:nth-child(2) {
  animation: navdown .5s ease-in-out;
}
/* line 236, ../scss/_design-price.scss */
header nav a:nth-child(3) {
  animation: navdown .6s ease-in-out;
}
/* line 240, ../scss/_design-price.scss */
header nav a:nth-child(4) {
  animation: navdown .7s ease-in-out;
}
/* line 244, ../scss/_design-price.scss */
header nav a:nth-child(5) {
  animation: navdown .8s ease-in-out;
}
/* line 251, ../scss/_design-price.scss */
header .wiggle {
  position: absolute;
  bottom: -7px;
  height: 4px;
  left: 22%;
  width: 0;
  overflow: auto;
  transition: .6s ease-out;
}
/* line 261, ../scss/_design-price.scss */
header .wiggle:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/icon/line.svg) repeat-x center center/7px 3px;
}
/* line 272, ../scss/_design-price.scss */
header .conteiner .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

/* line 281, ../scss/_design-price.scss */
.pagefirst {
  padding-top: 70px;
  background: #3B5B51;
  height: 100vh;
}

/* line 287, ../scss/_design-price.scss */
.page_bg {
  background: #3B5B51;
  overflow: hidden;
}

/* line 292, ../scss/_design-price.scss */
.page_bg_2 {
  background: #345047;
  overflow: hidden;
}

/* line 297, ../scss/_design-price.scss */
div.h1 {
  position: absolute;
  margin-left: calc(-10vw - 7vw);
  margin-top: -2%;
  line-height: .9;
}

/* line 305, ../scss/_design-price.scss */
span.h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 7vw;
  transform: rotate(-15deg);
  position: absolute;
  z-index: 3;
  color: white;
  margin-top: 20px;
}

/* line 315, ../scss/_design-price.scss */
span.h1.shadow {
  color: #000;
  position: absolute;
  margin: 15px 7px;
  z-index: 3;
}

/* line 322, ../scss/_design-price.scss */
.homeimg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  z-index: 5;
  width: calc(100% - 80px);
  max-width: 1300px;
}
/* line 332, ../scss/_design-price.scss */
.homeimg img {
  max-width: 50%;
  margin-top: 0;
  transform-style: preserve-3d;
  transform: translateZ(20px);
  z-index: 1;
}
/* line 340, ../scss/_design-price.scss */
.homeimg img.shadow {
  margin: 0 25px;
}

/* line 345, ../scss/_design-price.scss */
.left-p,
.right-p {
  display: flex;
  align-items: center;
  margin-top: 100px;
  transition: 1s;
}
/* line 352, ../scss/_design-price.scss */
.left-p p,
.right-p p {
  margin: 0;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  transform: rotate(-15deg);
  font-size: 13px;
}
/* line 362, ../scss/_design-price.scss */
.left-p .h3,
.right-p .h3 {
  font-size: 36px;
}

/* line 368, ../scss/_design-price.scss */
.left-p .shadow {
  position: absolute;
  margin: -4px -4px 0;
}
/* line 372, ../scss/_design-price.scss */
.left-p .shadow p {
  color: #000;
}

/* line 378, ../scss/_design-price.scss */
.right-p {
  margin-right: 50px;
  transform: rotate(-4deg);
}
/* line 382, ../scss/_design-price.scss */
.right-p .shadow {
  position: absolute;
  margin: -4px 4px 0;
}
/* line 386, ../scss/_design-price.scss */
.right-p .shadow p {
  color: #000;
}

/* line 392, ../scss/_design-price.scss */
.arrow_down {
  position: absolute;
  left: 50%;
  z-index: 10;
  top: calc(100vh - 130px);
}
/* line 398, ../scss/_design-price.scss */
.arrow_down a {
  animation: arrow_down 1.3s infinite ease-in-out;
}

/* line 403, ../scss/_design-price.scss */
svg.arrow_down_top {
  position: absolute;
}

/* line 407, ../scss/_design-price.scss */
.description {
  width: 50%;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 100px;
  transition: 1s;
}
/* line 414, ../scss/_design-price.scss */
.description.fade {
  opacity: 0;
}
/* line 418, ../scss/_design-price.scss */
.description .description-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
}
/* line 424, ../scss/_design-price.scss */
.description .description-title h1 {
  font-size: 24px;
  margin: 0;
}
/* line 429, ../scss/_design-price.scss */
.description .description-title img {
  margin-right: 17px;
}
/* line 434, ../scss/_design-price.scss */
.description .description-body {
  width: 100%;
}
/* line 437, ../scss/_design-price.scss */
.description .description-body h2 {
  font-size: 36px;
  margin: 0;
}

/* line 444, ../scss/_design-price.scss */
.ledge {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  width: 0;
  height: 0;
  -webkit-transition: 0.55s cubic-bezier(0.62, 0.02, 0.34, 1);
  -moz-transition: 0.55s cubic-bezier(0.62, 0.02, 0.34, 1);
  transition: 0.55s cubic-bezier(0.62, 0.02, 0.34, 1);
}

/* line 456, ../scss/_design-price.scss */
.ledge-deg::before {
  -webkit-transform: rotate(21deg);
  -moz-transform: rotate(21deg);
  -ms-transform: rotate(21deg);
  -o-transform: rotate(21deg);
  transform: rotate(21deg);
}

/* line 464, ../scss/_design-price.scss */
.ledge > div,
.ledge::before {
  background: #345047;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear;
  -moz-transition: -moz-transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear;
  transition: transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear;
  width: 300vw;
  height: 300vh;
  margin-left: -153vw;
}

/* line 484, ../scss/_design-price.scss */
.height-100 {
  height: 100vh;
}

/* line 488, ../scss/_design-price.scss */
section .content {
  margin: 40vh auto 0;
  width: 60.5%;
  text-align: center;
}
/* line 493, ../scss/_design-price.scss */
section .content .shadow {
  position: absolute;
  margin: .4vw 0 0;
}
/* line 497, ../scss/_design-price.scss */
section .content .shadow p {
  color: #000;
}
/* line 502, ../scss/_design-price.scss */
section .content p {
  color: #fff;
}

/* line 507, ../scss/_design-price.scss */
.box-arrow-link {
  display: inline;
  z-index: 2;
}
/* line 511, ../scss/_design-price.scss */
.box-arrow-link .box-arrow-1 {
  transition: .5s;
  opacity: 0;
  padding: 10px 0;
}
/* line 516, ../scss/_design-price.scss */
.box-arrow-link .box-arrow-1 img {
  transition: 1s;
  width: 0;
}
/* line 522, ../scss/_design-price.scss */
.box-arrow-link:hover .box-arrow-1 {
  opacity: 1;
  padding: 10px;
}
/* line 527, ../scss/_design-price.scss */
.box-arrow-link:hover .box-arrow-1 img {
  width: 30px;
}
/* line 532, ../scss/_design-price.scss */
.box-arrow-link .box-arrow-2 {
  opacity: 1;
  transition: .5s;
}
/* line 536, ../scss/_design-price.scss */
.box-arrow-link .box-arrow-2 img {
  transition: 1s;
  width: 30px;
}
/* line 542, ../scss/_design-price.scss */
.box-arrow-link:hover .box-arrow-2 {
  opacity: 0;
  padding: 10px 0;
}
/* line 547, ../scss/_design-price.scss */
.box-arrow-link:hover .box-arrow-2 img {
  width: 0;
}

/* line 553, ../scss/_design-price.scss */
.box-arrow-link span {
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid;
  margin: -3px;
}

/* line 561, ../scss/_design-price.scss */
.box-arrow-link span img {
  width: 30px;
  height: 8px;
  vertical-align: 2px;
  transition: 1s;
}

/* line 568, ../scss/_design-price.scss */
.box-arrow-1 {
  width: 0px;
}

/* line 572, ../scss/_design-price.scss */
.recent_work {
  width: 242px;
  height: 242px;
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: .3s;
}
/* line 584, ../scss/_design-price.scss */
.recent_work:hover .recent_info {
  opacity: 1;
}
/* line 588, ../scss/_design-price.scss */
.recent_work.fade {
  opacity: 1;
  transition: .3s .5s;
}
/* line 593, ../scss/_design-price.scss */
.recent_work:hover .bg-black {
  opacity: 1;
  height: 100%;
  top: 0;
}
/* line 599, ../scss/_design-price.scss */
.recent_work img {
  transform: scale(1.4);
  height: 100%;
}
/* line 604, ../scss/_design-price.scss */
.recent_work.one {
  bottom: 110px;
}
/* line 608, ../scss/_design-price.scss */
.recent_work.two {
  top: 0;
  right: 40px;
}
/* line 613, ../scss/_design-price.scss */
.recent_work .recent_info {
  opacity: 0;
  transition: 1s;
}
/* line 618, ../scss/_design-price.scss */
.recent_work .bg-black {
  top: 50%;
  opacity: 0;
  height: 0;
  transition: 1s;
}

/* line 626, ../scss/_design-price.scss */
.recent_info {
  position: absolute;
  width: 170px;
  z-index: 3;
  top: 33%;
  left: 20%;
  padding: 0%;
  text-transform: uppercase;
  color: #fff;
}
/* line 636, ../scss/_design-price.scss */
.recent_info p {
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 641, ../scss/_design-price.scss */
.recent_info .recent_next {
  font-size: 13px;
}
/* line 644, ../scss/_design-price.scss */
.recent_info .recent_next img {
  width: 10px;
  margin-left: 5px;
  vertical-align: 2px;
}

/* line 652, ../scss/_design-price.scss */
.bg-black {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

/* line 660, ../scss/_design-price.scss */
button {
  display: block;
  padding: 12px 57px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  font-weight: bold;
}

/* line 669, ../scss/_design-price.scss */
.line.white {
  border-bottom: 3px solid #fff;
  width: 100px;
  margin-right: 20px;
}

/* line 675, ../scss/_design-price.scss */
.line.black {
  border-bottom: 3px solid #000;
  width: 170px;
  margin-bottom: 114px;
}

/* line 682, ../scss/_design-price.scss */
.forma form {
  text-align: center;
}
/* line 685, ../scss/_design-price.scss */
.forma form input {
  display: block;
  padding: 11px 6px;
  width: 97%;
  border: 1px solid #C4C4C4;
  color: #000000;
  margin-bottom: 10px;
}
/* line 694, ../scss/_design-price.scss */
.forma form button {
  margin-top: 28px;
}

/* line 701, ../scss/_design-price.scss */
.footer-text .text {
  max-width: 550px;
}

/* line 706, ../scss/_design-price.scss */
.top-footer {
  background: #E5E5E5;
  padding-top: 50px;
}

/* line 713, ../scss/_design-price.scss */
.modal {
  max-width: 1300px;
  z-index: 999999;
}
/* line 717, ../scss/_design-price.scss */
.modal .top-footer {
  background: white;
}
/* line 721, ../scss/_design-price.scss */
.modal .conteiner .row {
  padding: 0;
}
/* line 725, ../scss/_design-price.scss */
.modal .image.contact {
  bottom: 0;
  left: -15px;
}
/* line 731, ../scss/_design-price.scss */
.modal .contact a {
  color: black;
  margin-right: 25px;
  font-weight: bold;
}
/* line 737, ../scss/_design-price.scss */
.modal .line.black {
  margin-bottom: 60px;
}

/* line 744, ../scss/_design-price.scss */
#ex2.modal {
  max-width: 500px;
}
/* line 747, ../scss/_design-price.scss */
#ex2.modal .contact {
  margin-top: 20px;
}
/* line 750, ../scss/_design-price.scss */
#ex2.modal .contact a {
  color: black;
  margin-right: 25px;
  font-weight: bold;
}

/* line 758, ../scss/_design-price.scss */
.image.contact {
  position: relative;
  bottom: -90px;
  z-index: 1;
}

/* line 764, ../scss/_design-price.scss */
footer {
  overflow: hidden;
}
/* line 767, ../scss/_design-price.scss */
footer a {
  color: #000;
}
/* line 772, ../scss/_design-price.scss */
footer .contact a {
  margin-left: 34px;
  display: inline-block;
  font-weight: bold;
}
/* line 777, ../scss/_design-price.scss */
footer .contact a:first-child {
  margin-left: 0;
}

/* line 784, ../scss/_design-price.scss */
.links a {
  margin-right: 30px;
}

/* line 788, ../scss/_design-price.scss */
.revers {
  display: none;
}

/* line 792, ../scss/_design-price.scss */
.blur,
header.navFixed,
header,
header.navFixed2 {
  transition: 1s;
}
/* line 798, ../scss/_design-price.scss */
.blur.active,
header.navFixed.active,
header.active,
header.navFixed2.active {
  filter: blur(3px);
  transform: scale(1.006);
}

/* line 805, ../scss/_design-price.scss */
.phone img {
  width: 14px;
  margin-right: 5px;
}

/* line 811, ../scss/_design-price.scss */
.blocker {
  background: none;
  z-index: 99999;
}

/* line 816, ../scss/_design-price.scss */
.culculator {
  color: white;
}

/* line 820, ../scss/_design-price.scss */
.services {
  transition: 1s;
  overflow-y: auto;
  display: block;
  padding-left: 5px;
}

/* line 827, ../scss/_design-price.scss */
.services-list {
  display: inline-block;
  position: relative;
  border-radius: 5px;
  vertical-align: middle;
  margin: 10px 0;
  margin-right: 30px;
}

/* line 836, ../scss/_design-price.scss */
.services-list .services-check {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

/* line 843, ../scss/_design-price.scss */
.services-list .services-content {
  width: calc(185px - 40px);
  height: 120px;
  border-radius: 5px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  font-size: 22px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 1s;
}
/* line 860, ../scss/_design-price.scss */
.services-list .services-content:hover {
  box-shadow: 0 0 0 2px #c7c7c7;
}

/* line 867, ../scss/_design-price.scss */
.culculator-description p {
  color: #C4C4C4;
  font-size: 14px;
}

/* line 873, ../scss/_design-price.scss */
.culculator-description,
.currency {
  width: 49%;
}

/* line 878, ../scss/_design-price.scss */
.services-list .services-check:checked ~ .services-content {
  box-shadow: 0 0 0 5px #fff;
}

/* line 883, ../scss/_design-price.scss */
.currency {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
/* line 888, ../scss/_design-price.scss */
.currency span {
  display: block;
  background: url("../img/icon/currency.svg") center no-repeat/cover;
  text-align: center;
  position: relative;
}
/* line 894, ../scss/_design-price.scss */
.currency span p {
  width: 40px;
  color: #fff;
  font-weight: bold;
}

/* line 903, ../scss/_design-price.scss */
#the-cost {
  font-weight: bold;
}
/* line 906, ../scss/_design-price.scss */
#the-cost a.button {
  padding: 14px 65px;
}

/* line 911, ../scss/_design-price.scss */
#top-the-cost {
  margin-top: 44px;
  margin-bottom: 34px;
}

/* line 916, ../scss/_design-price.scss */
#dev-site {
  margin-right: 50px;
}

/* line 920, ../scss/_design-price.scss */
#total-cost {
  margin-bottom: 40px;
}

/* line 924, ../scss/_design-price.scss */
.culculator {
  margin-top: 200px !important;
}

/* line 928, ../scss/_design-price.scss */
.culculator-description .h4 {
  margin-top: 25px;
}

/* line 932, ../scss/_design-price.scss */
input.services-check[disabled] ~ div {
  opacity: 0.5;
  background: #3b5b51;
}

@media (max-width: 1400px) {
  /* line 938, ../scss/_design-price.scss */
  .homeimg img {
    max-width: 40%;
  }
}
@media (max-width: 1200px) {
  /* line 944, ../scss/_design-price.scss */
  .right-p {
    display: none;
  }

  /* line 948, ../scss/_design-price.scss */
  .left-p,
  .right-p {
    margin-top: 25vh;
    margin-left: auto;
  }

  /* line 954, ../scss/_design-price.scss */
  div.h1 {
    margin-left: calc(-15vw - 11vw);
  }

  /* line 958, ../scss/_design-price.scss */
  span.h1 {
    font-size: 11vw;
  }

  /* line 962, ../scss/_design-price.scss */
  .homeimg img {
    max-width: 55%;
  }
}
@media (max-width: 1000px) {
  /* line 968, ../scss/_design-price.scss */
  .h2 {
    font-size: 36px;
    line-height: 39px;
  }

  /* line 973, ../scss/_design-price.scss */
  .description .description-title h1 {
    font-size: 10px;
    line-height: 14px;
  }

  /* line 978, ../scss/_design-price.scss */
  .description .description-body h2 {
    font-size: 18px;
    line-height: 25px;
  }

  /* line 983, ../scss/_design-price.scss */
  .price-title {
    font-size: 11px;
  }

  /* line 987, ../scss/_design-price.scss */
  footer .h4, #ex2 .h4 {
    font-size: 18px;
    line-height: 21px;
  }

  /* line 991, ../scss/_design-price.scss */
  #ex2 p {
    font-size: 12px;
  }

  /* line 994, ../scss/_design-price.scss */
  .currency {
    justify-content: flex-start;
  }

  /* line 998, ../scss/_design-price.scss */
  .footer-text,
  .image.contact,
  .recent_work {
    display: none;
  }

  /* line 1004, ../scss/_design-price.scss */
  .forma {
    margin: auto;
    margin-bottom: 50px;
  }

  /* line 1010, ../scss/_design-price.scss */
  #ex2 .top-footer {
    padding-top: 0;
  }
  /* line 1013, ../scss/_design-price.scss */
  #ex2 .forma {
    margin-bottom: 0;
  }

  /* line 1018, ../scss/_design-price.scss */
  .slide-mob-price {
    width: 100%;
  }

  /* line 1023, ../scss/_design-price.scss */
  #top-the-cost .hide {
    display: block;
  }
}
@media (max-width: 770px) {
  /* line 1031, ../scss/_design-price.scss */
  .onload .onload_logo svg {
    width: 13vw;
  }

  /* line 1035, ../scss/_design-price.scss */
  .arrow_down {
    top: calc(100vh - 150px);
    left: calc(50% - 11px);
  }

  /* line 1041, ../scss/_design-price.scss */
  header .conteiner .row {
    height: 90px;
  }

  /* line 1045, ../scss/_design-price.scss */
  header .communication {
    bottom: -12px;
  }
  /* line 1048, ../scss/_design-price.scss */
  header .communication .child {
    display: none;
  }
  /* line 1051, ../scss/_design-price.scss */
  header .communication .child:nth-child(3n) {
    display: block;
    margin-left: 0;
    margin-top: 6px;
    text-align: center;
  }

  /* line 1060, ../scss/_design-price.scss */
  header nav {
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 0px;
    height: 0px;
    transition: 1s;
  }
  /* line 1071, ../scss/_design-price.scss */
  header nav.active {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 30px;
    height: 100%;
    z-index: 99999;
  }
  /* line 1078, ../scss/_design-price.scss */
  header nav a {
    display: block;
    font-size: 24px;
    text-align: right;
    padding: 10px 40px;
  }

  /* line 1086, ../scss/_design-price.scss */
  .nav_mob {
    width: 22px;
    height: 18px;
  }

  /* line 1091, ../scss/_design-price.scss */
  .nav_mob span {
    height: 2px;
    width: 100%;
    display: block;
    background: white;
    border-radius: 3px;
    transition: 1s;
  }
  /* line 1099, ../scss/_design-price.scss */
  .nav_mob span.n2 {
    margin: 6px 0;
  }

  /* line 1105, ../scss/_design-price.scss */
  .navFixed2 .n1 {
    transform: rotate(-45deg);
    position: relative;
    top: 8px;
  }
  /* line 1111, ../scss/_design-price.scss */
  .navFixed2 .nav_mob span.n2 {
    margin: 0;
    opacity: 0;
  }
  /* line 1116, ../scss/_design-price.scss */
  .navFixed2 .n3 {
    transform: rotate(45deg);
    position: relative;
    top: 4px;
  }

  /* line 1123, ../scss/_design-price.scss */
  header .conteiner .row {
    flex-wrap: wrap;
  }

  /* line 1127, ../scss/_design-price.scss */
  .logo {
    width: 180px;
  }

  /* line 1131, ../scss/_design-price.scss */
  section .content {
    margin: 20vh auto 0;
  }

  /* line 1135, ../scss/_design-price.scss */
  div.h1 {
    margin-top: -10%;
    margin-left: calc(-21vw - 16vw);
  }

  /* line 1140, ../scss/_design-price.scss */
  span.h1 {
    font-size: 16vw;
  }

  /* line 1144, ../scss/_design-price.scss */
  .homeimg img {
    max-width: 86%;
  }

  /* line 1148, ../scss/_design-price.scss */
  .left-p .h3 {
    font-size: 5.5vw;
  }

  /* line 1152, ../scss/_design-price.scss */
  .description {
    width: auto;
  }

  /* line 1156, ../scss/_design-price.scss */
  .conteiner .row.flex.center {
    justify-content: flex-start;
  }

  /* line 1160, ../scss/_design-price.scss */
  .description .description-body,
  .description .description-title {
    text-align: left;
  }

  /* line 1165, ../scss/_design-price.scss */
  .manprice {
    width: 50vw;
    margin-bottom: 50px;
    margin-top: 20px;
  }

  /* line 1171, ../scss/_design-price.scss */
  .box-arrow-link span {
    padding: 10px 6px;
    font-size: 12px;
  }

  /* line 1176, ../scss/_design-price.scss */
  .box-arrow-link .box-arrow-1 img,
  .box-arrow-link .box-arrow-2 img {
    vertical-align: middle;
  }

  /* line 1181, ../scss/_design-price.scss */
  .box-arrow-link:hover .box-arrow-1 {
    opacity: 1;
    padding: 10px 6px;
  }

  /* line 1188, ../scss/_design-price.scss */
  .price,
  .line.white {
    display: none;
  }

  /* line 1193, ../scss/_design-price.scss */
  p.links {
    display: flex;
    flex-wrap: wrap;
  }

  /* line 1198, ../scss/_design-price.scss */
  p.links a {
    margin-right: 15px;
  }

  /* line 1202, ../scss/_design-price.scss */
  .row.flex.footer {
    flex-wrap: wrap;
  }
}
@media (max-height: 450px) {
  /* line 1210, ../scss/_design-price.scss */
  .revers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background: black;
    color: white;
  }
  /* line 1223, ../scss/_design-price.scss */
  .revers p {
    margin-right: 15px;
  }
}
