@import url("https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i&subset=cyrillic");
/* line 1, ../scss/_design.scss */
* {
  font-family: "Roboto", sans-serif;
}

/* line 5, ../scss/_design.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 10, ../scss/_design.scss */
a {
  display: inline-block;
}

/* line 14, ../scss/_design.scss */
.logo {
  width: 15%;
}
/* line 16, ../scss/_design.scss */
.logo img {
  width: 80%;
  margin-top: 2%;
}

/* line 22, ../scss/_design.scss */
a.botton {
  color: #fff;
  display: block;
  text-decoration: none;
  font-weight: 500;
  line-height: normal;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 8px 14px;
  background: linear-gradient(90deg, #F39A4A 0%, #F69173 100%);
  box-shadow: 0px 0px 10px rgba(246, 145, 115, 0.8);
  transition: .6s ease-out;
}
/* line 35, ../scss/_design.scss */
a.botton:hover {
  background: linear-gradient(90deg, #F69173 0%, #F39A4A 100%);
  box-shadow: 0px 0px 15px #ffab91;
  text-shadow: 0 0 15px #ffab91;
}

/* line 54, ../scss/_design.scss */
p {
  font-size: 16px;
}

/* line 58, ../scss/_design.scss */
input,
textarea {
  color: #ccc;
}

/* line 65, ../scss/_design.scss */
.conteiner .row {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

/* line 74, ../scss/_design.scss */
header .communication .child {
  display: inline-block;
  margin-left: 40px;
}
/* line 78, ../scss/_design.scss */
header .communication .child img {
  width: 13px;
  height: 13px;
  vertical-align: -1px;
}
/* line 84, ../scss/_design.scss */
header .communication .child #language {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
}
/* line 96, ../scss/_design.scss */
header nav a {
  position: relative;
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
/* line 103, ../scss/_design.scss */
header nav a:hover span {
  width: 60%;
}
/* line 107, ../scss/_design.scss */
header nav a:last-child {
  margin: 0;
}
/* line 113, ../scss/_design.scss */
header .wiggle {
  position: absolute;
  bottom: -7px;
  height: 4px;
  left: 22%;
  width: 0;
  overflow: hidden;
  transition: .6s ease-out;
}
/* line 123, ../scss/_design.scss */
header .wiggle:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/icon/line.svg) repeat-x center center/7px 3px;
}
/* line 134, ../scss/_design.scss */
header .conteiner .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

/* line 143, ../scss/_design.scss */
.pagefirst {
  background: #7A78D6;
  height: 100vh;
}

/* line 148, ../scss/_design.scss */
div.h1 {
  position: absolute;
  left: 7vw;
  top: 25vh;
  overflow: hidden;
  width: 35vw;
  height: 30vh;
}

/* line 157, ../scss/_design.scss */
span.h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 7vw;
  transform: rotate(-15deg);
  position: absolute;
  z-index: 3;
  color: white;
  margin-top: 20px;
}

/* line 167, ../scss/_design.scss */
span.h1.shadow {
  color: #382A50;
  position: absolute;
  margin: 20px 5px;
  z-index: 3;
}

/* line 174, ../scss/_design.scss */
.homeimg {
  position: absolute;
  left: 25vw;
  top: 10vh;
}
/* line 178, ../scss/_design.scss */
.homeimg img {
  width: 38vw;
  margin-top: 10vh;
  margin-left: 5vw;
  transform-style: preserve-3d;
  transform: translateZ(20px);
}
/* line 186, ../scss/_design.scss */
.homeimg img.shadow {
  margin: 0 25px;
}
