@import url("https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i&subset=cyrillic");
/* line 18, ../scss/_var.scss */
.fadeBox { transition: 1s; height: 50%; }
/* line 22, ../scss/_var.scss */
.fadeBox.fade { opacity: 0; transform: scale(0.8); }

/* line 28, ../scss/_var.scss */
.h2 { font-size: 60px; font-weight: bold; line-height: 60px; text-transform: uppercase; margin: 0 0 20px; }

/* line 35, ../scss/_var.scss */
.h3 { font-size: 36px; text-transform: uppercase; font-weight: bold; }

/* line 40, ../scss/_var.scss */
.h4 { font-size: 24px; text-transform: uppercase; font-weight: bold; }

/* line 11, ../scss/_keyframes.scss */
.fadeBox { transition: 1s; height: 50%; }
/* line 15, ../scss/_keyframes.scss */
.fadeBox.fade { opacity: 0; transform: scale(0.8); }

/* line 21, ../scss/_keyframes.scss */
.h2 { font-size: 60px; font-weight: bold; line-height: 60px; text-transform: uppercase; margin: 0 0 20px; }

/* line 28, ../scss/_keyframes.scss */
.h3 { font-size: 36px; text-transform: uppercase; font-weight: bold; }

/* line 33, ../scss/_keyframes.scss */
.h4 { font-size: 24px; text-transform: uppercase; font-weight: bold; }

@keyframes arrow_down { 0% { opacity: 0; top: -3px; }
  20% { opacity: 1; }
  70% { opacity: 0; top: 3px; }
  100% { opacity: 0; } }
@keyframes box-arrow-1 { 0% { opacity: 0; display: inline; }
  100% { opacity: 1; } }
@keyframes box-arrow-2 { 0% { opacity: 1; }
  100% { opacity: 0; display: none; } }
@keyframes navdown { 0% { opacity: 0; top: -50px; }
  100% { opacity: 1; top: 0; } }
@keyframes opacity_revers { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes onload { 0% { stroke-dasharray: 1200; fill: rgba(255, 255, 255, 0); stroke: rgba(255, 255, 255, 0); }
  30% { stroke: #fff; }
  80% { stroke-dasharray: 2500; fill: rgba(255, 255, 255, 0); }
  100% { fill: #fff; } }
/* Demonstrate a "mostly customized" scrollbar (won't be visible otherwise if width/height is specified) */
/* line 6, ../scss/_design-reviews.scss */
::-webkit-scrollbar { width: 8px; height: 8px; background: #bbb3b4; /* or add it to the track */ }

/* Add a thumb */
/* line 14, ../scss/_design-reviews.scss */
::-webkit-scrollbar-thumb { background: black; }
/* line 17, ../scss/_design-reviews.scss */
::-webkit-scrollbar-thumb:hover { background: #2d2929; }
/* line 21, ../scss/_design-reviews.scss */
::-webkit-scrollbar-thumb:active { background: #7d7173; }

/* line 26, ../scss/_design-reviews.scss */
body { margin: 0; padding: 0; overflow-x: hidden; }

/* line 32, ../scss/_design-reviews.scss */
a { display: inline-block; text-decoration: none; }

/* line 37, ../scss/_design-reviews.scss */
.logo { width: 15%; }
/* line 40, ../scss/_design-reviews.scss */
.logo img { width: 80%; margin-top: 2%; }

/* line 46, ../scss/_design-reviews.scss */
:active, :hover, :focus { outline: 0; outline-offset: 0; }

/* line 53, ../scss/_design-reviews.scss */
div, a, section, h1, h2, h3, h4 { position: relative; }

/* line 63, ../scss/_design-reviews.scss */
hr { border: none; border-bottom: 1px solid #B3B1B7; }

/* line 68, ../scss/_design-reviews.scss */
a.button, button { color: #fff; display: block; text-decoration: none; font-weight: 500; line-height: normal; font-size: 12px; letter-spacing: 0.05em; text-transform: uppercase; padding: 8px 14px; background: linear-gradient(90deg, #F39A4A 0%, #F69173 100%); box-shadow: 0px 0px 10px rgba(246, 145, 115, 0.8); transition: .6s ease-out; }
/* line 83, ../scss/_design-reviews.scss */
a.button:hover, button:hover { background: linear-gradient(90deg, #F69173 0%, #F39A4A 100%); box-shadow: 0px 0px 15px #ffab91; text-shadow: 0 0 15px #ffab91; }

/* line 90, ../scss/_design-reviews.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, i, b, a, small, span, strong { font-family: "Roboto", sans-serif; }

/* line 112, ../scss/_design-reviews.scss */
p { font-size: 16px; }

/* line 116, ../scss/_design-reviews.scss */
input, textarea { color: #ccc; }

/* line 123, ../scss/_design-reviews.scss */
.conteiner .row { max-width: 1300px; margin: auto; padding: 0 40px; }
/* line 128, ../scss/_design-reviews.scss */
.conteiner .row.flex { display: flex; justify-content: space-between; }
/* line 132, ../scss/_design-reviews.scss */
.conteiner .row.flex.center { justify-content: center; }
/* line 136, ../scss/_design-reviews.scss */
.conteiner .row.flex.left { justify-content: flex-start; }
/* line 140, ../scss/_design-reviews.scss */
.conteiner .row.flex.wrap { flex-wrap: wrap; }
/* line 144, ../scss/_design-reviews.scss */
.conteiner .row.flex.align-center { align-items: center; }

/* line 151, ../scss/_design-reviews.scss */
small { font-size: 11px; }

/* line 155, ../scss/_design-reviews.scss */
.onload { position: fixed; background: #554D4E; z-index: 9999999; top: 0; left: 0; right: 0; bottom: 0; }
/* line 164, ../scss/_design-reviews.scss */
.onload .onload_logo { margin: 0; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); }
/* line 172, ../scss/_design-reviews.scss */
.onload .onload_logo svg { width: 3vw; }
/* line 175, ../scss/_design-reviews.scss */
.onload .onload_logo svg path { stroke-dasharray: 2500; fill: #fff; animation: onload 2s ease-in-out; }

/* line 184, ../scss/_design-reviews.scss */
header { position: fixed; z-index: 999; right: 0; left: 0; top: 0; transition: 1s; animation: opacity_revers .8s ease-in-out; }
/* line 193, ../scss/_design-reviews.scss */
header.navFixed, header.navFixed2 { background: rgba(0, 0, 0, 0.5); }
/* line 200, ../scss/_design-reviews.scss */
header .communication .child { display: inline-block; margin-left: 25px; }
/* line 204, ../scss/_design-reviews.scss */
header .communication .child img { width: 13px; height: 13px; vertical-align: -1px; }
/* line 210, ../scss/_design-reviews.scss */
header .communication .child #language { font-style: normal; font-weight: bold; line-height: normal; font-size: 13px; text-transform: uppercase; color: #FFFFFF; }
/* line 222, ../scss/_design-reviews.scss */
header nav a { margin-right: 15px; color: #fff; text-decoration: none; font-size: 14px; position: relative; }
/* line 229, ../scss/_design-reviews.scss */
header nav a:hover span { width: 60%; }
/* line 233, ../scss/_design-reviews.scss */
header nav a:last-child { margin: 0; }
/* line 237, ../scss/_design-reviews.scss */
header nav a:nth-child(1) { animation: navdown .4s ease-in-out; }
/* line 241, ../scss/_design-reviews.scss */
header nav a:nth-child(2) { animation: navdown .5s ease-in-out; }
/* line 245, ../scss/_design-reviews.scss */
header nav a:nth-child(3) { animation: navdown .6s ease-in-out; }
/* line 249, ../scss/_design-reviews.scss */
header nav a:nth-child(4) { animation: navdown .7s ease-in-out; }
/* line 253, ../scss/_design-reviews.scss */
header nav a:nth-child(5) { animation: navdown .8s ease-in-out; }
/* line 260, ../scss/_design-reviews.scss */
header .wiggle { position: absolute; bottom: -7px; height: 4px; left: 22%; width: 0; overflow: hidden; transition: .6s ease-out; }
/* line 270, ../scss/_design-reviews.scss */
header .wiggle:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/icon/line.svg) repeat-x center center/7px 3px; }
/* line 281, ../scss/_design-reviews.scss */
header .conteiner .row { display: flex; justify-content: space-between; align-items: center; height: 76px; }

/* line 290, ../scss/_design-reviews.scss */
.pagefirst { padding-top: 70px; background: #554D4E; height: 100vh; }

/* line 296, ../scss/_design-reviews.scss */
.page_bg { background: #554D4E; overflow: hidden; margin-top: -1px; }

/* line 302, ../scss/_design-reviews.scss */
.page_bg_2 { background: #EEE; overflow: hidden; }
/* line 306, ../scss/_design-reviews.scss */
.page_bg_2 .content { margin: 15vh auto 0; }

/* line 311, ../scss/_design-reviews.scss */
div.h1 { position: absolute; margin-left: calc(0vw - 7vw); margin-top: -5%; }

/* line 317, ../scss/_design-reviews.scss */
span.h1 { font-family: "Pattaya", sans-serif; font-size: 7vw; transform: rotate(-15deg); position: absolute; z-index: 3; color: white; width: 17vw; margin-top: 20px; }

/* line 328, ../scss/_design-reviews.scss */
span.h1.shadow { color: #000; position: absolute; margin: 15px 7px; z-index: 3; }

/* line 335, ../scss/_design-reviews.scss */
.homeimg { position: absolute; display: flex; justify-content: center; align-items: center; height: 85vh; z-index: 5; width: calc(100% - 80px); max-width: 1300px; }
/* line 345, ../scss/_design-reviews.scss */
.homeimg img { max-width: 50%; margin-top: 0; transform-style: preserve-3d; transform: translateZ(20px); z-index: 1; }
/* line 353, ../scss/_design-reviews.scss */
.homeimg img.shadow { margin: 0 25px; }

/* line 358, ../scss/_design-reviews.scss */
.left-p, .right-p { display: flex; align-items: center; margin-top: 100px; transition: 1s; padding-left: 10px; }
/* line 366, ../scss/_design-reviews.scss */
.left-p p, .right-p p { margin: 0; font-style: italic; font-weight: bold; letter-spacing: 0.05em; color: #FFFFFF; transform: rotate(-15deg); font-size: 13px; }
/* line 376, ../scss/_design-reviews.scss */
.left-p .h3, .right-p .h3 { font-size: 36px; }

/* line 382, ../scss/_design-reviews.scss */
.left-p .shadow { position: absolute; margin: -4px -4px 0; }
/* line 386, ../scss/_design-reviews.scss */
.left-p .shadow p { color: #000; }

/* line 392, ../scss/_design-reviews.scss */
.right-p { margin-right: 50px; transform: rotate(-4deg); }
/* line 396, ../scss/_design-reviews.scss */
.right-p .shadow { position: absolute; margin: -4px 4px 0; }
/* line 400, ../scss/_design-reviews.scss */
.right-p .shadow p { color: #000; }

/* line 406, ../scss/_design-reviews.scss */
.about-no-bg { padding-top: 150px; padding-bottom: 150px; }

/* line 411, ../scss/_design-reviews.scss */
.about-design { width: 50%; margin: auto 0; }

/* line 417, ../scss/_design-reviews.scss */
.list { display: flex; justify-content: space-between; padding: 18px; background: white; border-radius: 5px; margin-bottom: 25px; }

/* line 426, ../scss/_design-reviews.scss */
.list-content { width: calc(90% - 325px); }
/* line 429, ../scss/_design-reviews.scss */
.list-content p { height: 130px; overflow: auto; }

/* line 435, ../scss/_design-reviews.scss */
.reviews-title .h3 { font-size: 18px; }

/* line 441, ../scss/_design-reviews.scss */
.reviews-list a.button { display: inline-block; padding: 10px 44px; font-size: 14px; }
/* line 447, ../scss/_design-reviews.scss */
.reviews-list .center { text-align: center; }

/* line 452, ../scss/_design-reviews.scss */
.rating { width: 125px; }

/* line 456, ../scss/_design-reviews.scss */
span.star { background: url(../img/icon/star.svg) no-repeat center/cover; width: 20px; height: 20px; display: inline-block; }

/* line 463, ../scss/_design-reviews.scss */
span.star.active { background: url(../img/icon/star-active.svg) no-repeat center/cover; width: 20px; height: 20px; display: inline-block; }

/* line 470, ../scss/_design-reviews.scss */
.list-img { width: 200px; height: 200px; border-radius: 5px; }

/* line 476, ../scss/_design-reviews.scss */
.design { display: flex; align-items: center; width: 40%; }
/* line 481, ../scss/_design-reviews.scss */
.design img { width: 100%; }

/* line 486, ../scss/_design-reviews.scss */
.arrow_down { position: absolute; left: 50%; z-index: 10; top: calc(100vh - 130px); }
/* line 492, ../scss/_design-reviews.scss */
.arrow_down a { animation: arrow_down 1.3s infinite ease-in-out; }

/* line 497, ../scss/_design-reviews.scss */
svg.arrow_down_top { position: absolute; }

/* line 501, ../scss/_design-reviews.scss */
.ledge { position: absolute; top: 50%; left: 50%; pointer-events: none; width: 0; height: 0; -webkit-transition: 0.55s cubic-bezier(0.62, 0.02, 0.34, 1); -moz-transition: 0.55s cubic-bezier(0.62, 0.02, 0.34, 1); transition: 0.55s cubic-bezier(0.62, 0.02, 0.34, 1); }

/* line 513, ../scss/_design-reviews.scss */
.ledge-deg::before { -webkit-transform: rotate(21deg); -moz-transform: rotate(21deg); -ms-transform: rotate(21deg); -o-transform: rotate(21deg); transform: rotate(21deg); }

/* line 521, ../scss/_design-reviews.scss */
.ledge > div, .ledge::before { background: #EEE; content: ''; position: absolute; top: 0; left: 0; -webkit-transform-origin: 50% 0; -moz-transform-origin: 50% 0; -ms-transform-origin: 50% 0; -o-transform-origin: 50% 0; transform-origin: 50% 0; -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear; -moz-transition: -moz-transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear; transition: transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear; width: 300vw; height: 300vh; margin-left: -153vw; }

/* line 541, ../scss/_design-reviews.scss */
.height-100 { height: 100vh; }

/* line 545, ../scss/_design-reviews.scss */
section .content { margin: 40vh auto 0; width: 60.5%; text-align: center; }
/* line 550, ../scss/_design-reviews.scss */
section .content .shadow { position: absolute; margin: .4vw 0 0; }
/* line 554, ../scss/_design-reviews.scss */
section .content .shadow p { color: #000; }
/* line 559, ../scss/_design-reviews.scss */
section .content p { color: #000; }

/* line 564, ../scss/_design-reviews.scss */
.box-arrow-link { display: inline; z-index: 2; }
/* line 568, ../scss/_design-reviews.scss */
.box-arrow-link .box-arrow-1 { transition: .5s; opacity: 0; padding: 10px 0; }
/* line 573, ../scss/_design-reviews.scss */
.box-arrow-link .box-arrow-1 img { transition: 1s; width: 0; }
/* line 579, ../scss/_design-reviews.scss */
.box-arrow-link:hover .box-arrow-1 { opacity: 1; padding: 10px; }
/* line 584, ../scss/_design-reviews.scss */
.box-arrow-link:hover .box-arrow-1 img { width: 30px; }
/* line 589, ../scss/_design-reviews.scss */
.box-arrow-link .box-arrow-2 { opacity: 1; transition: .5s; }
/* line 593, ../scss/_design-reviews.scss */
.box-arrow-link .box-arrow-2 img { transition: 1s; width: 30px; }
/* line 599, ../scss/_design-reviews.scss */
.box-arrow-link:hover .box-arrow-2 { opacity: 0; padding: 10px 0; }
/* line 604, ../scss/_design-reviews.scss */
.box-arrow-link:hover .box-arrow-2 img { width: 0; }

/* line 610, ../scss/_design-reviews.scss */
.box-arrow-link span { padding: 10px; text-transform: uppercase; color: #000; border: 2px solid; margin: -3px; }

/* line 618, ../scss/_design-reviews.scss */
.box-arrow-link span img { width: 30px; height: 8px; vertical-align: 2px; transition: 1s; }

/* line 625, ../scss/_design-reviews.scss */
.box-arrow-1 { width: 0px; }

/* line 629, ../scss/_design-reviews.scss */
.recent_work { width: 242px; height: 242px; position: absolute; border-radius: 100%; overflow: hidden; border: 1px solid #000000; box-sizing: border-box; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); opacity: 0; transition: .3s; }
/* line 641, ../scss/_design-reviews.scss */
.recent_work:hover .recent_info { opacity: 1; }
/* line 645, ../scss/_design-reviews.scss */
.recent_work.fade { opacity: 1; transition: .3s .5s; }
/* line 650, ../scss/_design-reviews.scss */
.recent_work:hover .bg-black { opacity: 1; height: 100%; top: 0; }
/* line 656, ../scss/_design-reviews.scss */
.recent_work img { transform: scale(1.4); height: 100%; }
/* line 661, ../scss/_design-reviews.scss */
.recent_work.one { bottom: 110px; }
/* line 665, ../scss/_design-reviews.scss */
.recent_work.two { top: 0; right: 40px; }
/* line 670, ../scss/_design-reviews.scss */
.recent_work .recent_info { opacity: 0; transition: 1s; }
/* line 675, ../scss/_design-reviews.scss */
.recent_work .bg-black { top: 50%; opacity: 0; height: 0; transition: 1s; }

/* line 683, ../scss/_design-reviews.scss */
.recent_info { position: absolute; width: 170px; z-index: 3; top: 33%; left: 20%; padding: 0%; text-transform: uppercase; color: #fff; }
/* line 693, ../scss/_design-reviews.scss */
.recent_info p { margin-top: 5px; margin-bottom: 10px; }
/* line 698, ../scss/_design-reviews.scss */
.recent_info .recent_next { font-size: 13px; }
/* line 701, ../scss/_design-reviews.scss */
.recent_info .recent_next img { width: 10px; margin-left: 5px; vertical-align: 2px; }

/* line 709, ../scss/_design-reviews.scss */
.bg-black { background: rgba(0, 0, 0, 0.6); position: absolute; z-index: 2; width: 100%; height: 100%; }

/* line 717, ../scss/_design-reviews.scss */
.ledge-title { margin-bottom: 40px; text-transform: uppercase; z-index: 2; }

/* line 723, ../scss/_design-reviews.scss */
.price { color: #554D4E !important; position: absolute; top: calc(-46vw + 20vw); font-size: 20vw; left: calc(32vw - 20vw); font-weight: bold; transition: transform .1s linear; }

/* line 733, ../scss/_design-reviews.scss */
.manprice { margin-bottom: 100px; width: 28vw; position: relative; z-index: 1; }

/* line 740, ../scss/_design-reviews.scss */
button { display: block; padding: 12px 57px; border: none; margin: 0 auto; cursor: pointer; font-weight: bold; }

/* line 749, ../scss/_design-reviews.scss */
.line.white { border-bottom: 3px solid #fff; width: 100px; margin-right: 20px; }

/* line 755, ../scss/_design-reviews.scss */
.line.black { border-bottom: 3px solid #000; width: 170px; margin-bottom: 114px; }

/* line 761, ../scss/_design-reviews.scss */
.line.black.small { border-bottom: 3px solid #000; width: 109px; margin-bottom: 7px; margin-left: 14px; display: inline-block; }

/* line 770, ../scss/_design-reviews.scss */
.forma form { text-align: center; }
/* line 773, ../scss/_design-reviews.scss */
.forma form input { display: block; padding: 11px 6px; width: 97%; border: 1px solid #C4C4C4; color: #000000; margin-bottom: 10px; }
/* line 782, ../scss/_design-reviews.scss */
.forma form button { margin-top: 28px; }

/* line 789, ../scss/_design-reviews.scss */
.footer-text .text { max-width: 550px; }

/* line 794, ../scss/_design-reviews.scss */
.top-footer { background: #EEEEEE; padding-top: 50px; }

/* line 799, ../scss/_design-reviews.scss */
.modal { max-width: 1300px; z-index: 999999; }
/* line 803, ../scss/_design-reviews.scss */
.modal .top-footer { background: white; }
/* line 807, ../scss/_design-reviews.scss */
.modal .conteiner .row { padding: 0; }
/* line 811, ../scss/_design-reviews.scss */
.modal .image.contact { bottom: 0; left: -15px; }
/* line 816, ../scss/_design-reviews.scss */
.modal .line.black { margin-bottom: 60px; }
/* line 820, ../scss/_design-reviews.scss */
.modal .contact a { color: black; margin-right: 25px; font-weight: bold; }

/* line 827, ../scss/_design-reviews.scss */
.image.contact { position: relative; bottom: -90px; z-index: 1; }

/* line 833, ../scss/_design-reviews.scss */
footer { overflow: hidden; }
/* line 836, ../scss/_design-reviews.scss */
footer a { color: #000; }
/* line 841, ../scss/_design-reviews.scss */
footer .contact a { margin-left: 34px; display: inline-block; font-weight: bold; }
/* line 846, ../scss/_design-reviews.scss */
footer .contact a:first-child { margin-left: 0; }

/* line 853, ../scss/_design-reviews.scss */
.links a { margin-right: 30px; }

/* line 857, ../scss/_design-reviews.scss */
.revers { display: none; }

/* line 861, ../scss/_design-reviews.scss */
.blur, header.navFixed, header, header.navFixed2 { transition: 1s; }
/* line 867, ../scss/_design-reviews.scss */
.blur.active, header.navFixed.active, header.active, header.navFixed2.active { filter: blur(3px); transform: scale(1.006); }

/* line 874, ../scss/_design-reviews.scss */
.phone img { width: 14px; margin-right: 5px; }

/* line 880, ../scss/_design-reviews.scss */
.blocker { background: none; z-index: 99999; }

/* line 885, ../scss/_design-reviews.scss */
.reviews { background: #554D4E; padding-top: 120px; padding-bottom: 120px; }

/* line 892, ../scss/_design-reviews.scss */
.right-reviews a.button { display: inline-block; margin-left: 20px; }

/* line 899, ../scss/_design-reviews.scss */
.reviews-title { align-items: center; }
/* line 902, ../scss/_design-reviews.scss */
.reviews-title .h3 { color: white; }

/* line 907, ../scss/_design-reviews.scss */
.currency { display: none; }

@media (max-width: 1400px) { /* line 912, ../scss/_design-reviews.scss */
  .homeimg img { max-width: 40%; } }
@media (max-width: 1200px) { /* line 918, ../scss/_design-reviews.scss */
  .right-p { display: none; }
  /* line 922, ../scss/_design-reviews.scss */
  .left-p, .right-p { margin-top: 17vh; }
  /* line 927, ../scss/_design-reviews.scss */
  div.h1 { margin-left: calc(0vw - 11vw); }
  /* line 931, ../scss/_design-reviews.scss */
  span.h1 { font-size: 11vw; width: 30vw; }
  /* line 936, ../scss/_design-reviews.scss */
  .homeimg img { max-width: 55%; } }
@media (max-width: 1000px) { /* line 942, ../scss/_design-reviews.scss */
  .h2 { font-size: 36px; line-height: 39px; }
  /* line 947, ../scss/_design-reviews.scss */
  .price-title { font-size: 11px; }
  /* line 951, ../scss/_design-reviews.scss */
  footer .h4 { font-size: 18px; line-height: 21px; }
  /* line 956, ../scss/_design-reviews.scss */
  .footer-text, .image.contact, .recent_work { display: none; }
  /* line 962, ../scss/_design-reviews.scss */
  .forma { margin: auto; margin-bottom: 50px; }
  /* line 968, ../scss/_design-reviews.scss */
  .right-reviews a.button { display: none; }
  /* line 974, ../scss/_design-reviews.scss */
  .currency { display: flex; align-items: center; justify-content: flex-end; }
  /* line 979, ../scss/_design-reviews.scss */
  .currency a { display: block; background: url("../img/icon/currency.svg") center no-repeat/cover; text-align: center; width: 42px; height: 52px; position: relative; right: -11px; }
  /* line 988, ../scss/_design-reviews.scss */
  .currency a:first-child { right: -14px; }
  /* line 991, ../scss/_design-reviews.scss */
  .currency a:first-child img { position: relative; top: 16px; width: 18px; }
  /* line 998, ../scss/_design-reviews.scss */
  .currency a img { width: 17px; position: relative; top: 16px; } }
@media (max-width: 770px) { /* line 1010, ../scss/_design-reviews.scss */
  .onload .onload_logo svg { width: 13vw; }
  /* line 1014, ../scss/_design-reviews.scss */
  .arrow_down { top: calc(100vh - 150px); left: calc(50% - 11px); }
  /* line 1020, ../scss/_design-reviews.scss */
  header .conteiner .row { height: 90px; }
  /* line 1024, ../scss/_design-reviews.scss */
  header .communication { bottom: -12px; }
  /* line 1027, ../scss/_design-reviews.scss */
  header .communication .child { display: none; }
  /* line 1030, ../scss/_design-reviews.scss */
  header .communication .child:nth-child(3n) { display: block; margin-left: 0; margin-top: 6px; text-align: center; }
  /* line 1039, ../scss/_design-reviews.scss */
  header nav { position: fixed; top: 90px; left: 0; right: 0; bottom: 0; overflow: hidden; padding-top: 0px; height: 0px; transition: 1s; }
  /* line 1050, ../scss/_design-reviews.scss */
  header nav.active { background: rgba(0, 0, 0, 0.5); padding-top: 30px; height: 100%; z-index: 99999; }
  /* line 1057, ../scss/_design-reviews.scss */
  header nav a { display: block; font-size: 24px; text-align: right; padding: 10px 40px; margin-right: 0; }
  /* line 1066, ../scss/_design-reviews.scss */
  .nav_mob { width: 22px; height: 18px; }
  /* line 1071, ../scss/_design-reviews.scss */
  .nav_mob span { height: 2px; width: 100%; display: block; background: white; border-radius: 3px; transition: 1s; }
  /* line 1079, ../scss/_design-reviews.scss */
  .nav_mob span.n2 { margin: 6px 0; }
  /* line 1085, ../scss/_design-reviews.scss */
  .navFixed2 .n1 { transform: rotate(-45deg); position: relative; top: 8px; }
  /* line 1091, ../scss/_design-reviews.scss */
  .navFixed2 .nav_mob span.n2 { margin: 0; opacity: 0; }
  /* line 1096, ../scss/_design-reviews.scss */
  .navFixed2 .n3 { transform: rotate(45deg); position: relative; top: 4px; }
  /* line 1103, ../scss/_design-reviews.scss */
  header .conteiner .row { flex-wrap: wrap; }
  /* line 1107, ../scss/_design-reviews.scss */
  .logo { width: 180px; }
  /* line 1111, ../scss/_design-reviews.scss */
  section .content { margin: 20vh auto 0; }
  /* line 1115, ../scss/_design-reviews.scss */
  div.h1 { margin-top: -10%; margin-left: calc(-4vw - 16vw); }
  /* line 1120, ../scss/_design-reviews.scss */
  span.h1 { font-size: 16vw; width: 50vw; }
  /* line 1125, ../scss/_design-reviews.scss */
  .homeimg img { max-width: 86%; }
  /* line 1129, ../scss/_design-reviews.scss */
  .left-p .h3 { font-size: 5.5vw; }
  /* line 1133, ../scss/_design-reviews.scss */
  .description { width: auto; }
  /* line 1137, ../scss/_design-reviews.scss */
  .conteiner .row.flex.center { justify-content: flex-start; }
  /* line 1141, ../scss/_design-reviews.scss */
  .description .description-body, .description .description-title { text-align: left; }
  /* line 1146, ../scss/_design-reviews.scss */
  .manprice { width: 50vw; margin-bottom: 50px; margin-top: 20px; }
  /* line 1152, ../scss/_design-reviews.scss */
  .box-arrow-link span { padding: 10px 6px; font-size: 12px; }
  /* line 1157, ../scss/_design-reviews.scss */
  .box-arrow-link .box-arrow-1 img, .box-arrow-link .box-arrow-2 img { vertical-align: middle; }
  /* line 1162, ../scss/_design-reviews.scss */
  .box-arrow-link:hover .box-arrow-1 { opacity: 1; padding: 10px 6px; }
  /* line 1168, ../scss/_design-reviews.scss */
  .description { width: auto; }
  /* line 1172, ../scss/_design-reviews.scss */
  .conteiner .row.flex.center { justify-content: flex-start; }
  /* line 1176, ../scss/_design-reviews.scss */
  .description .description-body, .description .description-title { text-align: left; }
  /* line 1181, ../scss/_design-reviews.scss */
  .about-no-bg { padding: 0; }
  /* line 1185, ../scss/_design-reviews.scss */
  .about-design { width: 100%; margin: 40px 0; text-align: center; }
  /* line 1190, ../scss/_design-reviews.scss */
  .about-design .h3 { font-size: 18px; }
  /* line 1194, ../scss/_design-reviews.scss */
  .about-design .h4 { font-size: 14px; }
  /* line 1198, ../scss/_design-reviews.scss */
  .about-design p { font-size: 12px; }
  /* line 1203, ../scss/_design-reviews.scss */
  .line.black.small { display: none; }
  /* line 1207, ../scss/_design-reviews.scss */
  .design { width: 100%; }
  /* line 1211, ../scss/_design-reviews.scss */
  .price, .line.white { display: none; }
  /* line 1216, ../scss/_design-reviews.scss */
  p.links { display: flex; flex-wrap: wrap; }
  /* line 1221, ../scss/_design-reviews.scss */
  .rating { position: relative; left: calc(100% - 125px); }
  /* line 1226, ../scss/_design-reviews.scss */
  p.links a { margin-right: 15px; }
  /* line 1230, ../scss/_design-reviews.scss */
  .row.flex.footer { flex-wrap: wrap; }
  /* line 1234, ../scss/_design-reviews.scss */
  .list { flex-wrap: wrap; }
  /* line 1238, ../scss/_design-reviews.scss */
  .list-content { width: calc(100% - 70px); }
  /* line 1242, ../scss/_design-reviews.scss */
  .list-img { width: 50px; height: 50px; } }
@media (max-height: 450px) { /* line 1251, ../scss/_design-reviews.scss */
  .revers { display: flex; justify-content: center; align-items: center; position: fixed; top: 0; bottom: 0; right: 0; left: 0; z-index: 9999; background: black; color: white; }
  /* line 1264, ../scss/_design-reviews.scss */
  .revers p { margin-right: 15px; } }
