@import url("https://fonts.googleapis.com/css?family=Pattaya&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i&subset=cyrillic");
/* line 19, ../scss/_var.scss */
.fadeBox { transition: 1s; height: 50%; }
/* line 23, ../scss/_var.scss */
.fadeBox.fade { opacity: 0; transform: scale(0.8); }

/* line 29, ../scss/_var.scss */
.AppearBox { opacity: var(--op); transition: 1s; }

/* line 34, ../scss/_var.scss */
.recent_work { opacity: var(--opa); }

/* line 38, ../scss/_var.scss */
.h2 { font-size: 60px; font-weight: bold; line-height: 60px; text-transform: uppercase; margin: 0 0 20px; }

/* line 45, ../scss/_var.scss */
.h3 { font-size: 36px; text-transform: uppercase; font-weight: bold; }

/* line 50, ../scss/_var.scss */
.h4 { font-size: 24px; text-transform: uppercase; font-weight: bold; }

@keyframes arrow_down { 0% { opacity: 0; top: -3px; }
  20% { opacity: 1; }
  70% { opacity: 0; top: 3px; }
  100% { opacity: 0; } }
@keyframes box-arrow-1 { 0% { opacity: 0; display: inline; }
  100% { opacity: 1; } }
@keyframes box-arrow-2 { 0% { opacity: 1; }
  100% { opacity: 0; display: none; } }
@keyframes navdown { 0% { opacity: 0; top: -50px; }
  100% { opacity: 1; top: 0; } }
@keyframes opacity_revers { 0% { opacity: 0; }
  100% { opacity: 1; } }
@keyframes onload { 0% { stroke-dasharray: 1200; fill: rgba(255, 255, 255, 0); stroke: rgba(255, 255, 255, 0); }
  30% { stroke: #fff; }
  80% { stroke-dasharray: 2500; fill: rgba(255, 255, 255, 0); }
  100% { fill: #fff; } }
/* line 1, ../scss/_mobile.scss */
.pagefirst { background: #504D55; }

/* line 5, ../scss/_mobile.scss */
.page_bg { background: #504D55; }

/* line 11, ../scss/_mobile.scss */
.left-p p { position: absolute; left: 5%; top: 15%; z-index: 2; font-size: 9vw; transform: rotate(-15deg); color: #fff; }

/* line 21, ../scss/_mobile.scss */
.homeimg img { width: 100%; }

/* line 24, ../scss/_mobile.scss */
div, a, section, h1, h2, h3, h4 { position: relative; }

/* line 34, ../scss/_mobile.scss */
hr { border: none; border-bottom: 1px solid #B3B1B7; }

/* line 39, ../scss/_mobile.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p, i, b, a, small, span, strong { font-family: "Roboto", sans-serif; }

/* line 61, ../scss/_mobile.scss */
p { font-size: 16px; }

/* line 65, ../scss/_mobile.scss */
input, textarea { color: #ccc; }
