$color: #69A0Af;
$color2: #E5E5E5;
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: lighten($color, 40%);
    /* or add it to the track */
}

/* Add a thumb */
::-webkit-scrollbar-thumb {
    background: darken($color, 40%);

    &:hover {
        background: darken($color, 15%);
    }

    &:active {
        background: lighten($color, 15%);
    }
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    display: inline-block;
    text-decoration: none;
}

.logo {
    width: 15%;

    img {
        width: 80%;
        margin-top: 2%;
    }
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

div,
a,
section,
h1,
h2,
h3,
h4 {
    position: relative;
}

hr {
    border: none;
    border-bottom: 1px solid #B3B1B7;
}

a.button,
button {
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 8px 14px;
    background: $color_button;
    box-shadow: 0px 0px 10px rgba(246, 145, 115, 0.8);
    @include tn();

    &:hover {
        background: $color_button_revers;
        box-shadow: 0px 0px 15px rgb(255, 171, 145);
        text-shadow: 0 0 15px rgb(255, 171, 145);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
i,
b,
a,
small,
span,
strong {
    font-family: $fs, sans-serif;
}

p {
    font-size: 16px;
}

input,
textarea {
    color: #ccc;
}

.container {

    .row {
        max-width: 1300px;
        margin: auto;
        padding: 0 40px;

        &.flex {
            display: flex;
            justify-content: space-between;

            &.center {
                justify-content: center;
            }

            &.left {
                justify-content: flex-start;
            }

            &.wrap {
                flex-wrap: wrap;
            }

            &.align-center {
                align-items: center;
            }
        }
    }
}

small {
    font-size: 11px;
}

.onload {
    position: fixed;
    background: $color;
    z-index: 9999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .onload_logo {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        svg {
            width: 3vw;

            path {
                stroke-dasharray: 2500;
                fill: #fff;
                animation: onload 2s ease-in-out;
            }
        }
    }
}

header {
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
    transition: 1s;
    animation: opacity_revers .8s ease-in-out;

    &.navFixed,
    &.navFixed2 {
        background: rgba(0, 0, 0, 0.5);
    }


    .communication {
        .child {
            display: inline-block;
            margin-left: 25px;

            img {
                width: 13px;
                height: 13px;
                vertical-align: -1px;
            }

            #language {
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 13px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }

    nav {
        a {
            margin-right: 15px;
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            position: relative;

            &:hover span {
                width: 60%;
            }

            &:last-child {
                margin: 0;
            }

            &:nth-child(1) {
                animation: navdown .4s ease-in-out;
            }

            &:nth-child(2) {
                animation: navdown .5s ease-in-out;
            }

            &:nth-child(3) {
                animation: navdown .6s ease-in-out;
            }

            &:nth-child(4) {
                animation: navdown .7s ease-in-out;
            }

            &:nth-child(5) {
                animation: navdown .8s ease-in-out;
            }

        }
    }

    .wiggle {
        position: absolute;
        bottom: -7px;
        height: 4px;
        left: 22%;
        width: 0;
        overflow: hidden;
        @include tn();
    }

    .wiggle:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/icon/line.svg) repeat-x center center/7px 3px;
    }

    .container {
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 76px;
        }
    }
}

.pagefirst {
    padding-top: 70px;
    background: $color;
    height: 100vh;
}

.page_bg {
    background: $color;
    overflow: hidden;
    margin-top: -1px;
}

.page_bg_2 {
    background: $color2;
    overflow: hidden;

    .content {
        margin: 15vh auto 0;
    }
}

div.h1 {
    position: absolute;
    margin-left: calc(-9vw - 7vw);
    margin-top: -5%;
}

span.h1 {
    font-family: $fspan, sans-serif;
    font-size: 7vw;
    transform: rotate(-15deg);
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: 20px;
}

span.h1.shadow {
    color: $color_home_shadow;
    position: absolute;
    margin: 15px 7px;
    z-index: 3;
}

.homeimg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    z-index: 5;
    width: calc(100% - 80px);
    max-width: 1300px;

    img {
        max-width: 50%;
        margin-top: 0;
        transform-style: preserve-3d;
        transform: translateZ(20px);
        z-index: 1;
    }

    img.shadow {
        margin: 0 25px;
    }
}

.left-p,
.right-p {
    display: flex;
    align-items: center;
    margin-top: 100px;
    transition: 1s;
    padding-left: 10px;

    p {
        margin: 0;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        transform: rotate(-15deg);
        font-size: 13px;
    }

    .h3 {
        font-size: $h3;
    }
}

.left-p {
    .shadow {
        position: absolute;
        margin: -4px -4px 0;

        p {
            color: $color_home_shadow;
        }
    }
}

.right-p {
    margin-right: 50px;
    transform: rotate(-4deg);

    .shadow {
        position: absolute;
        margin: -4px 4px 0;

        p {
            color: $color_home_shadow;
        }
    }
}

.arrow_down {
    position: absolute;
    left: 50%;
    z-index: 10;
    top: calc(100vh - 130px);

    a {
        animation: arrow_down 1.3s infinite ease-in-out;
    }
}

svg.arrow_down_top {
    position: absolute;
}

.portfolio {
    margin: 120px 0;
    overflow: hidden;

    .button {
        display: inline-block;
        padding: 14px 44px;
        font-size: 14px;
    }

    .center {
        text-align: center;
    }
}

ul.portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 0;
    width: 100%;

    li {
        width: 48%;
        height: 360px;
        border-radius: 5px;
        list-style-type: none;
        position: relative;
        cursor: pointer;
        margin-bottom: 56px;
        overflow: hidden;

        .portfolio-content {
            position: absolute;
            text-align: center;
            color: white;
            top: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            height: 100%;
            opacity: 0;
            width: calc(100% - 154px);
            z-index: 3;
            transition: .4s;
            padding: 10px 77px;

            p {
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
        }

        a {
            display: block;
            height: 100%;
        }

        .title {
            font-size: 48px;
            text-transform: uppercase;
            font-weight: bold;
        }

        &:hover .portfolio-content {
            opacity: 1;
            transition: 1s;
        }

        .line {
            width: 130px;
            background: white;
            height: 3px;
            margin: auto;
        }

        &:hover .bg {
            background: linear-gradient(0deg, rgba(17, 0, 43, 0.5), rgba(17, 0, 43, 0.5));
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        span {
            position: absolute;
            top: 15px;
            right: 15px;
            color: $color_link;
            font-weight: bold;
            font-size: 13px;
            text-transform: uppercase;
        }
    }
}

ul.portfolio-list li:hover img {
    top: -100%;
}

ul.portfolio-list li img {
    width: 100%;
    position: absolute;
    transition: 1s;
    top: 0%;
}

.portfolio-filter {
    margin-bottom: 26px;

    a {
        font-size: 14px;
        margin-right: 20px;
        text-transform: uppercase;
        color: black;
        cursor: pointer;

        &.active {
            color: $color_link;
        }

        &:hover {
            color: $color_link;
        }
    }
}

.ledge {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    width: 0;
    height: 0;
    -webkit-transition: 0.55s cubic-bezier(.62, .02, .34, 1);
    -moz-transition: 0.55s cubic-bezier(.62, .02, .34, 1);
    transition: 0.55s cubic-bezier(.62, .02, .34, 1);
}

.ledge-deg::before {
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    -ms-transform: rotate(21deg);
    -o-transform: rotate(21deg);
    transform: rotate(21deg);
}

.ledge > div,
.ledge::before {
    background: $color2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: -webkit-transform 0.9s cubic-bezier(.52, .01, .16, 1), background 0.26s linear;
    -moz-transition: -moz-transform 0.9s cubic-bezier(.52, .01, .16, 1), background 0.26s linear;
    transition: transform 0.9s cubic-bezier(.52, .01, .16, 1), background 0.26s linear;
    width: 300vw;
    height: 300vh;
    margin-left: -153vw;
}

.height-100 {
    height: 100vh;
}

section .content {
    margin: 40vh auto 0;
    width: 60.5%;
    text-align: center;

    .shadow {
        position: absolute;
        margin: .4vw 0 0;

        p {
            color: #000;
        }
    }

    p {
        color: #000;
    }
}

.box-arrow-link {
    display: inline;
    z-index: 2;

    .box-arrow-1 {
        transition: .5s;
        opacity: 0;
        padding: 10px 0;

        & img {
            transition: 1s;
            width: 0;
        }
    }

    &:hover .box-arrow-1 {
        opacity: 1;
        //        animation: 1s alternate box-arrow-1;
        padding: 10px;

        & img {
            width: 30px
        }
    }

    .box-arrow-2 {
        opacity: 1;
        transition: .5s;

        & img {
            transition: 1s;
            width: 30px
        }
    }

    &:hover .box-arrow-2 {
        //        animation: 1s alternate box-arrow-2;
        opacity: 0;
        padding: 10px 0;

        & img {
            width: 0
        }
    }
}

.box-arrow-link span {
    padding: 10px;
    text-transform: uppercase;
    color: #000;
    border: 2px solid;
    margin: -3px;
}

.box-arrow-link span img {
    width: 30px;
    height: 8px;
    vertical-align: 2px;
    transition: 1s;
}

.box-arrow-1 {
    width: 0px;
}

.recent_work {
    width: 242px;
    height: 242px;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: .3s;

    &:hover .recent_info {
        opacity: 1;
    }

    &.fade {
        opacity: 1;
        transition: .3s .5s;
    }

    &:hover .bg-black {
        opacity: 1;
        height: 100%;
        top: 0;
    }

    img {
        transform: scale(1.4);
        height: 100%;
    }

    &.one {
        bottom: 110px;
    }

    &.two {
        top: 0;
        right: 40px;
    }

    .recent_info {
        opacity: 0;
        transition: 1s;
    }

    .bg-black {
        top: 50%;
        opacity: 0;
        height: 0;
        transition: 1s;
    }
}

.recent_info {
    position: absolute;
    width: 170px;
    z-index: 3;
    top: 33%;
    left: 20%;
    padding: 0%;
    text-transform: uppercase;
    color: #fff;

    p {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .recent_next {
        font-size: 13px;

        img {
            width: 10px;
            margin-left: 5px;
            vertical-align: 2px;
        }
    }
}

.bg-black {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.ledge-title {
    margin-bottom: 40px;
    text-transform: uppercase;
    z-index: 2;
}

.price {
    color: $color !important;
    position: absolute;
    top: calc(-46vw + 20vw);
    font-size: 20vw;
    left: calc(32vw - 20vw);
    font-weight: bold;
    transition: transform .1s linear;
}

.manprice {
    margin-bottom: 100px;
    width: 28vw;
    position: relative;
    z-index: 1;
}

button {
    display: block;
    padding: 12px 57px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
}

.line.white {
    border-bottom: 3px solid #fff;
    width: 100px;
    margin-right: 20px;
}

.line.black {
    border-bottom: 3px solid #000;
    width: 170px;
    margin-bottom: 114px;
}

.forma {
    form {
        text-align: center;

        input {
            display: block;
            padding: 11px 6px;
            width: 97%;
            border: 1px solid #C4C4C4;
            color: #000000;
            margin-bottom: 10px;
        }

        button {
            margin-top: 28px;
        }
    }
}

.footer-text {
    .text {
        max-width: 550px;
    }
}

.top-footer {
    background: $footer_bg;
    padding-top: 50px;
}

.modal {
    max-width: 1300px;
    z-index: 999999;

    .top-footer {
        background: white;
    }

    .container .row {
        padding: 0;
    }

    .image.contact {
        bottom: 0;
        left: -15px;
    }

    .line.black {
        margin-bottom: 60px;
    }

    .contact a {
        color: black;
        margin-right: 25px;
        font-weight: bold;
    }
}

.image.contact {
    position: relative;
    bottom: -90px;
    z-index: 1;
}

footer {
    overflow: hidden;

    a {
        color: #000;
    }

    .contact {
        a {
            margin-left: 34px;
            display: inline-block;
            font-weight: bold;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.links a {
    margin-right: 30px;
}

.revers {
    display: none;
}

.blur,
header.navFixed,
header,
header.navFixed2 {
    transition: 1s;

    &.active {
        filter: blur(3px);
        transform: scale(1.006);
    }
}

.phone {
    img {
        width: 14px;
        margin-right: 5px;
    }
}

.blocker {
    background: none;
    z-index: 99999;
}

@media (max-width: 1400px) {
    .homeimg img {
        max-width: 40%;
    }
}

@media (max-width: 1200px) {
    .right-p {
        display: none;
    }

    .left-p,
    .right-p {
        margin-top: 17vh;
    }

    div.h1 {
        margin-left: calc(-15vw - 11vw);
    }

    span.h1 {
        font-size: 11vw;
    }

    .homeimg img {
        max-width: 55%;
    }
}

@media (max-width: 1000px) {
    .h2 {
        font-size: 36px;
        line-height: 39px;
    }

    .description .description-title h1 {
        font-size: 10px;
        line-height: 14px;
    }

    .description .description-body h2 {
        font-size: 18px;
        line-height: 25px;
    }

    .price-title {
        font-size: 11px;
    }

    footer .h4 {
        font-size: 18px;
        line-height: 21px;
    }

    ul.portfolio-list li .portfolio-content {
        width: calc(100% - 70px);
        padding: 30px 35px 10px;
        height: calc(100% - 40px);
    }

    .footer-text,
    .image.contact,
    .recent_work {
        display: none;
    }

    .forma {
        margin: auto;
        margin-bottom: 50px;
    }

}

@media (max-width: 770px) {
    .onload .onload_logo svg {
        width: 13vw;
    }
.form-modal-phone {
    text-align: right;
    position: absolute;
    width: calc(100% - 80px);
    top: calc(100vh - 320px);
    padding: 0 40px;
}

a.button.link-modal.form-modal {
    display: inline-block;
}

a.phone.mobile {
    padding: 15px 0;
    font-size: 18px
}
    .arrow_down {
        top: calc(100vh - 150px);
        left: calc(50% - 11px);

    }

    header .container .row {
        height: 90px;
    }

    header .communication {
        bottom: -12px;

        .child {
            display: none;

            &:nth-child(3n) {
                display: block;
                margin-left: 0;
                margin-top: 6px;
                text-align: center
            }
        }
    }

    header nav {
        position: fixed;
        top: 90px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        padding-top: 0px;
        height: 0px;
        transition: 1s;

        &.active {
            background: rgba(0, 0, 0, 0.5);
            padding-top: 30px;
            height: calc(100vh - 122px);
            z-index: 99999;
        }

        a {
            display: block;
            font-size: 24px;
            text-align: right;
            padding: 10px 40px;
            margin-right: 0;
        }
    }

    .nav_mob {
        width: 22px;
        height: 18px;
    }

    .nav_mob span {
        height: 2px;
        width: 100%;
        display: block;
        background: white;
        border-radius: 3px;
        transition: 1s;

        &.n2 {
            margin: 6px 0;
        }
    }

    .navFixed2 {
        .n1 {
            transform: rotate(-45deg);
            position: relative;
            top: 8px;
        }

        .nav_mob span.n2 {
            margin: 0;
            opacity: 0;
        }

        .n3 {
            transform: rotate(45deg);
            position: relative;
            top: 4px;
        }
    }

    header .container .row {
        flex-wrap: wrap;
    }

    .logo {
        width: 180px;
    }

    section .content {
        margin: 20vh auto 0;
    }

    div.h1 {
        margin-top: -10%;
        margin-left: calc(-21vw - 16vw);
    }

    span.h1 {
        font-size: 16vw;
    }

    .homeimg img {
        max-width: 86%;
    }

    .left-p .h3 {
        font-size: 5.5vw;
    }

    .description {
        width: auto;
    }

    .container .row.flex.center {
        justify-content: flex-start;
    }

    .description .description-body,
    .description .description-title {
        text-align: left;
    }

    .manprice {
        width: 50vw;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .box-arrow-link span {
        padding: 10px 6px;
        font-size: 12px;
    }

    .box-arrow-link .box-arrow-1 img,
    .box-arrow-link .box-arrow-2 img {
        vertical-align: middle;
    }

    .box-arrow-link:hover .box-arrow-1 {
        opacity: 1;
        padding: 10px 6px;

    }


    .price,
    .line.white {
        display: none;
    }

    p.links {
        display: flex;
        flex-wrap: wrap;
    }

    p.links a {
        margin-right: 15px;
    }

    .row.flex.footer {
        flex-wrap: wrap;
    }

    ul.portfolio-list {


        li {
            width: 100%;
            height: 30vh;

            .title {
                font-size: 5vw;
            }

            .bg {
                background: linear-gradient(0deg, rgba(17, 0, 43, 0.5), rgba(17, 0, 43, 0.5));
                top: 0;
                height: 100%;
            }

            .portfolio-content {
                opacity: 1;
                z-index: 4;

                p {
                    font-size: 2.8vw;
                    line-height: 4vw;
                }
            }
        }
    }
}



@media (max-height: 450px) {
    .revers {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        background: black;
        color: white;

        & p {
            margin-right: 15px;
        }
    }
}
