body {
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

.logo {
    width: 15%;

    img {
        width: 80%;
        margin-top: 2%;
    }
}

div,
a,
section,
h1,
h2,
h3,
h4 {
    position: relative;
}

hr {
    border: none;
    border-bottom: 1px solid #B3B1B7;
}

a.botton {
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 8px 14px;
    background: $color_button;
    box-shadow: 0px 0px 10px rgba(246, 145, 115, 0.8);
    @include tn();

    &:hover {
        background: $color_button_revers;
        box-shadow: 0px 0px 15px rgb(255, 171, 145);
        text-shadow: 0 0 15px rgb(255, 171, 145);
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
i,
b,
a,
small,
span,
strong {
    font-family: $fs, sans-serif;
}

p {
    font-size: 16px;
}

input,
textarea {
    color: #ccc;
}

.conteiner {

    .row {
        max-width: 1300px;
        margin: auto;
        padding: 0 40px;

        &.flex {
            display: flex;
            justify-content: space-between;

            &.center {
                justify-content: center;
            }

            &.left {
                justify-content: flex-start;
            }

            &.wrap {
                flex-wrap: wrap;
            }

            &.align-center {
                align-items: center;
            }
        }
    }
}

small {
    font-size: 11px;
}

.onload {
    position: fixed;
    background: $color;
    z-index: 9999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .onload_logo {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        svg {
            width: 3vw;

            path {
                stroke-dasharray: 2500;
                fill: #fff;
                animation: onload 2s ease-in-out;
            }
        }
    }
}

header {
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
    top: 0;
    transition: 1s;
    animation: opacity_revers .8s ease-in-out;

    &.navFixed {
        background: rgba(0, 0, 0, 0.3);
        ;
    }

    .communication {
        .child {
            display: inline-block;
            margin-left: 40px;

            img {
                width: 13px;
                height: 13px;
                vertical-align: -1px;
            }

            #language {
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 13px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }

    nav {
        a {
            margin-right: 15px;
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            position: relative;

            &:hover span {
                width: 60%;
            }

            &:last-child {
                margin: 0;
            }

            &:nth-child(1) {
                animation: navdown .4s ease-in-out;
            }

            &:nth-child(2) {
                animation: navdown .5s ease-in-out;
            }

            &:nth-child(3) {
                animation: navdown .6s ease-in-out;
            }

            &:nth-child(4) {
                animation: navdown .7s ease-in-out;
            }

            &:nth-child(5) {
                animation: navdown .8s ease-in-out;
            }

        }
    }

    .wiggle {
        position: absolute;
        bottom: -7px;
        height: 4px;
        left: 22%;
        width: 0;
        overflow: hidden;
        @include tn();
    }

    .wiggle:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/icon/line.svg) repeat-x center center/7px 3px;
    }

    .conteiner {
        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 76px;
        }
    }
}

.pagefirst {
    padding-top: 70px;
    background: $color;
    height: 100vh;
}

.page_bg {
    background: $color;
    overflow: hidden;
}

.page_bg_2 {
    background: $color2;
    overflow: hidden;

    .content {
        margin: 15vh auto 0;
    }
}

div.h1 {
    position: absolute;
    margin-left: -25%;
    margin-top: -5%;
}

span.h1 {
    font-family: $fspan, sans-serif;
    font-size: 8em;
    transform: rotate(-15deg);
    position: absolute;
    z-index: 3;
    color: white;
    margin-top: 20px;
}

span.h1.shadow {
    color: $color_home_shadow;
    position: absolute;
    margin: 15px 7px;
    z-index: 3;
}

.homeimg {
    position: absolute;
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 85vh;
    z-index: 5;
    width: 95%;
    max-width: 1300px;

    img {
        max-width: 40%;
        margin-top: 0;
        transform-style: preserve-3d;
        transform: translateZ(20px);
    }

    img.shadow {
        margin: 0 25px;
    }
}

.left-p,
.right-p {
    display: flex;
    align-items: center;
    margin-top: 100px;

    p {
        margin: 0;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        transform: rotate(-15deg);
        font-size: 13px;
    }

    .h3 {
        font-size: $h3;
    }
}

.left-p {
    .shadow {
        position: absolute;
        margin: -4px -4px 0;

        p {
            color: $color_home_shadow;
        }
    }
}

.right-p {
    margin-right: 50px;
    transform: rotate(-4deg);

    .shadow {
        position: absolute;
        margin: -4px 4px 0;

        p {
            color: $color_home_shadow;
        }
    }
}

.arrow_down {
    position: absolute;
    left: 50%;
    z-index: 10;
    top: 170%;

    a {
        animation: arrow_down 1.3s infinite ease-in-out;
    }
}

svg.arrow_down_top {
    position: absolute;
}

.description {
    width: 50%;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 100px;
    transition: 1s;

    &.fade {
        opacity: 0;
    }

    .description-title {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 15px;

        h1 {
            font-size: 24px;
            margin: 0;
        }

        img {
            margin-right: 17px;
        }
    }

    .description-body {
        width: 100%;
        text-align: center;

        h2 {
            font-size: 36px;
            margin: 0;
        }
    }
}

.ledge {
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    width: 0;
    height: 0;
    -webkit-transition: 0.55s cubic-bezier(.62, .02, .34, 1);
    -moz-transition: 0.55s cubic-bezier(.62, .02, .34, 1);
    transition: 0.55s cubic-bezier(.62, .02, .34, 1);
}

.ledge-deg::before {
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    -ms-transform: rotate(21deg);
    -o-transform: rotate(21deg);
    transform: rotate(21deg);
}

.ledge > div,
.ledge::before {
    background: $color2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: -webkit-transform 0.9s cubic-bezier(.52, .01, .16, 1), background 0.26s linear;
    -moz-transition: -moz-transform 0.9s cubic-bezier(.52, .01, .16, 1), background 0.26s linear;
    transition: transform 0.9s cubic-bezier(.52, .01, .16, 1), background 0.26s linear;
    width: 300vw;
    height: 300vh;
    margin-left: -153vw;
}

.height-100 {
    height: 100vh;
}

section .content {
    margin: 40vh auto 0;
    width: 60.5%;
    text-align: center;

    .shadow {
        position: absolute;
        margin: .4vw 0 0;

        p {
            color: #000;
        }
    }

    p {
        color: #fff;
    }
}

.box-arrow-link {
    display: inline;

    .box-arrow-1 {
        transition: .5s;
        opacity: 0;
        padding: 10px 0;

        & img {
            transition: 1s;
            width: 0;
        }
    }

    &:hover .box-arrow-1 {
        opacity: 1;
        //        animation: 1s alternate box-arrow-1;
        padding: 10px;

        & img {
            width: 30px
        }
    }

    .box-arrow-2 {
        opacity: 1;
        transition: .5s;

        & img {
            transition: 1s;
            width: 30px
        }
    }

    &:hover .box-arrow-2 {
        //        animation: 1s alternate box-arrow-2;
        opacity: 0;
        padding: 10px 0;

        & img {
            width: 0
        }
    }
}

.box-arrow-link span {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid;
    margin: -3px;
}

.box-arrow-link span img {
    width: 30px;
    height: 8px;
    vertical-align: 2px;
    transition: 1s;
}

.box-arrow-1 {
    width: 0px;
}

.recent_work {
    width: 242px;
    height: 242px;
    position: absolute;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: .3s;

    &:hover .recent_info {
        opacity: 1;
    }

    &.fade {
        opacity: 1;
        transition: .3s .5s;
    }

    &:hover .bg-black {
        opacity: 1;
        height: 100%;
        top: 0;
    }

    img {
        transform: scale(1.4);
        height: 100%;
    }

    &.one {
        top: -55vh;
    }

    &.two {
        top: 0;
        right: 0;
    }

    .recent_info {
        opacity: 0;
        transition: 1s;
    }

    .bg-black {
        top: 50%;
        opacity: 0;
        height: 0;
        transition: 1s;
    }
}

.recent_info {
    position: absolute;
    width: 170px;
    z-index: 3;
    top: 33%;
    left: 20%;
    padding: 0%;
    text-transform: uppercase;
    color: #fff;

    p {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .recent_next {
        font-size: 13px;

        img {
            width: 10px;
            margin-left: 5px;
            vertical-align: 2px;
        }
    }
}

.bg-black {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.ledge-title {
    margin-bottom: 40px;
    text-transform: uppercase;
}

.price {
    color: $color !important;
    position: absolute;
    top: -472px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23rem;
    padding: 0 20%;
    font-weight: bold;
    transition: transform .1s linear;
}

.manprice {
    margin-bottom: 100px;
    width: 32vw;
}

button {
    color: #fff;
    display: block;
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 12px 57px;
    background: linear-gradient(90deg, #F39A4A 0%, #F69173 100%);
    box-shadow: 0px 0px 10px rgba(246, 145, 115, 0.8);
    transition: .6s ease-out;
    border: none;
    margin: 0 auto;
}

.line.white {
    border-bottom: 3px solid #fff;
    width: 100px;
    margin-right: 20px;
}

.line.black {
    border-bottom: 3px solid #000;
    width: 170px;
    margin-bottom: 114px;
}

.forma {
    form {
        text-align: center;

        input {
            display: block;
            padding: 11px 6px;
            width: 97%;
            border: 1px solid #C4C4C4;
            color: #000000;
            margin-bottom: 10px;
        }

        button {
            margin-top: 28px;
        }
    }
}

.footer-text {
    .text {
        max-width: 550px;
    }
}

.top-footer {
    background: $footer_bg;
    padding-top: 50px;
}

.image.contact {
    position: relative;
    bottom: -90px;
    z-index: 1;
}

footer {
    overflow: hidden;

    a {
        color: #000;
    }

    .contact {
        a {
            margin-left: 34px;
            display: inline-block;
            font-weight: bold;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.links a {
    margin-right: 30px;
}
