div.h1 {
    margin-top: -5%;
    margin-left: calc(-21vw - 16vw);
}

span.h1 {
    font-size: 16vw;
}

.homeimg img {
    max-width: 86%;
}

.left-p .h3 {
    font-size: 60px;
}
.left-p p{
    margin-top: -76px;
}