
//var color
$fspan: 'Pattaya';
$fs: 'Roboto';

$color_home_shadow: #000;
$color_button: linear-gradient(90deg, #F39A4A 0%, #F69173 100%);
$color_button_revers: linear-gradient(90deg, #F69173 0%, #F39A4A 100%);
$footer_bg: #E5E5E5;


